@use '../../../styles/_variables.scss'as *;
@use '../../../styles/mixins'as *;
@use '../../../../../../../styles/global.scss' as *;

.documentation-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
  max-width: 1200px;

  .inscription-title {
    color: #6d7881;
    font-size: $font-size-p;
    width: fit-content;
  }
  .documentation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: $font-size-h2;
      font-weight: bold;
      width: 100%;
      color: $text-dark;
    }
  }
  .note {
    color: #2c333a;
    font-size: $font-size-p;
    width: fit-content;
  }

  .documentation-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease-in-out;

    .documentation-p {
      color: #000000;
      font-size: $font-size-h3;
      font-weight: 700;
    }

    .documentation-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      ul {
        padding-left: 20px;
        font-size: $font-size-p;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        list-style-type: disc;

        li {
          color: #2c333a;

          &::marker {
            color: $primary-color;
          }
        }
      }
    }
  }
  .sub-title {
    font-size: $font-size-p;
    font-weight: bold;
  }
}

@media (min-width: $breakpoint-xl) {
  .documentation-section {
    max-width: $breakpoint-xl;

    .documentation-header {
      width: 100%;

      h2 {
        width: 100%;
      }

      a {
        justify-content: end;
        gap: 10px;
        width: 30%;
      }
    }

    .documentation-links {
      display: flex;
      flex-direction: column;
      transform: translateY(-5px);
      .documentation-item {
        border-bottom: none;
        width: 100%;

        a {
          gap: 5px;
          width: 100%;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}
//sección de moreDoubts
.only-desktop {
  display: none; // Oculto en móvil

  @media (min-width: 1200px) {
    display: block; 
  }
}