@use '@styles/autoload' as *;

.section-dos {
  background-color: var(--background-100);

.subjects-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: $max-width;
  padding-bottom: 20px;
  margin: 0 auto;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: $font-family-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $text-light;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }

  .subjects-carousel__title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    padding-bottom: var(--spacing-xl);
    width: fit-content;
    color:var(--neutral-100);
  }
  p {
    font-size: $font-size-p;
    padding-bottom: 20px;
    height: auto;
    width: 90%;
    text-align: center;
    color: var(--neutral-100);
  }

  button{
    padding: rem(15px) rem(30px);
  }

  .button-plan {
    color: var(--primary);
    padding: 15px;
    font-weight: 600;
    border: 1px solid var(--primary);

    i {
      padding-left: 10px;
      size: 1rem;
    }
  }

  .button-plan:hover{
    background-color: var(--primary);
    color:var(--neutral);
  }

  .card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
  }

  .swiper-backface-hidden .swiper-slide {
    margin-top: 20px;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: auto;
  }

  .card-list {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
  }

  .card-list .card-item .card-link {
    display: flex;
    flex-direction: column;
    background: var(--background-100);
    padding: 18px;
    user-select: none;
    border-radius: 12px;
    text-decoration: none;
    border: 1px solid var(--neutral-700);
    transition: 0.2s ease;
    width: 100%;
    height: 100%;
  }

  .card-list .card-item .card-link:active {
    cursor: grabbing;
  }

  .card-list .card-item .card-link:hover {
    border: 1px solid;
    border-color: var(--primary);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .card-list .card-link .card-image {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .title-subjects {
    margin-bottom: 0.5rem;
    border-bottom: 0.8px solid $gray-900;
    font-size: $font-size-p; //Ajuste temporal en el uso de la variable para este elemento
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-normal;
    color: var(--neutral-100);
    text-align: left;
    max-width: 100%;
  }

  .card-list .card-link .badge {
    color: $text-light;
    width: fit-content;
    padding: 8px 16px;
    font-size: $font-size-small;
    border-radius: 50px;
    font-weight: $font-weight-bold;
    background: var(--primary);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .subjects-list {
    list-style: none;
    padding-top: 5px;
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
  }
  .subjects-list li {
    color: $gray-500;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    font-size: $font-size-p;
    font-weight: $font-weight-regular;
    color: var(--neutral-100);
    i {
      font-size: 1.25rem;
      margin-right: 0.5rem;
      color: var(--primary);
    }
  }

  .content-credits {
    font-size: 1.125rem;
    border-top: 0.8px solid $gray-900;
    font-weight: bold;
    color: $gray-800;
    padding-top: 10px;
    align-self: end;
    width: 100%;
    margin-top: auto;
    strong {
      color: $gray-500;
    }
  }

  .card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: var(--primary);
  }
  .card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    i {
      font-size: 2rem;
      color: var(--primary);
      z-index: 100;
    }

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }
  }

  .subjects-prev {
    left: 2px;
  }

  .subjects-next {
    right: 2px;
  }

  @media (max-width: $breakpoint-sm) {
    .text-align-movil {
      text-align: left;
      width: 100%;
    }
    .button-plan {
      width: 98%;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .swiper-slide-button {
      width: 40px;
      height: 40px;

      i {
        font-size: 1.5rem;
      }
    }

    .card-item {
      height: 450px !important;
      min-height: 450px !important;
    }
  }

  @media (max-width: $breakpoint-sm) {
    .card-wrapper {
      margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button {
      display: none;
    }
  }
}
}