@use '@styles/autoload' as *;

.thanks__main{
  display: flex;

  .thanks__content{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 50px;
  }

  _itle{
    font-size: var(--font-size-subtitle) !important;
    font-weight: var(--font-weight-bold);
  }

  .thanks__pic{
    width: 30%;
    img{
      object-fit: cover;
      height: 800px;
    }
  }

  h1{
    font-size: var(--font-size-subtitle) !important;
    font-weight: var(--font-weight-bold);
  }

  .thanks__card-info-main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .thanks__card-info{
    width: 257px;
    padding: 15px;
    border-radius: 20px;
    border: solid 1px var(--neutral-700);
  }
}