@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
$itemSize: 38px;

// Wrapper
.center-menu {
  position: fixed;
  top: 142px;
  left: 60px;
  width: $itemSize;
  height: $itemSize;
  z-index: 1000;

  @media (max-width: 768px) {
    top: 100px;
    left: 20px;
  }

  // Item
  .item {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    width: $itemSize;
    height: $itemSize;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #3b5998;
    margin: 0;
    padding: 0;

    // Circle
    span {
      border-radius: 0;
      display: block;
      height: 0;
      left: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      transition: all 0.3s;
      width: 0;
    }

    &:hover span {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 3.6rem;
      margin: -1.8rem;
    }

    // Icon Button
    .icon-button {
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 50%;
      border: none;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      &:hover span {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 3.6rem;
        margin: -1.8rem;
      }

      &:focus,
      &:focus-visible,
      &:active {
        outline: none;
      }

      // Icons styles
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $itemSize / 2;
        width: 100%;
        height: 100%;
        padding: 10px;
        z-index: 1;

        transition: all 0.3s;
      }
    }
  }
}
