@use '../../../styles/_variables.scss'as *;
@use '../../../styles/mixins'as *;
@use '../../../../../../../styles/global.scss' as *;

.doubts-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px;
  padding-top: 0;

  .title {
    font-size: $font-size-h2;
    font-weight: bold;
    width: 100%;
    color: $text-dark;
  }

  .doubts-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 15px;
    display: grid;

    .items-content {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;
      gap: 8px;
      align-items: center;
      width: 100%;

      .phone {
        color: $gray-700;
        font-size: $font-size-p;
        font-weight: 600;
      }
    }

    .items-content i {
      grid-column: 1;
      grid-row: 1;
      font-size: 1.2rem;
      color: $primary-color;
    }

    .items-content p {
      grid-column: 2;
      grid-row: 1;
      margin: 0;
      font-size: 1rem;
      color: #2c333a;
    }

    .items-content a {
      grid-column: 2;
      grid-row: 2;
      font-size: 1rem;
      color: #007bff;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
.container-doubts{
  padding-left: 20px;
}

@media (min-width: $breakpoint-xl) {
  .container-doubts{
    padding-left: 0px;
  }
  .doubts-section {
    max-width: $breakpoint-xl;
    padding: 0;

    .doubts-header {
      width: 100%;

      h2 {
        width: 100%;
      }
    }
  }
}
