@use 'sass:map';
@use './mixins' as *;
@use './functions' as *;

$color-base: (
  'primary': #026fc1,
  'primary-dark': #0285d1,
  'secondary': #029be1,
  'tertiary': #359c36,
  'tertiary-dark': #5dc85e,
  'background': #1e1e1e,
  'neutral': (
    '': #ffffff,
    '100': #1d2125,
    '200': #22272b,
    '300': #2c333a,
    '400': #454f59,
    '500': #596773,
    '600': #8c9bab,
    '700': #9fadbc,
    '800': #b6c2cf,
    '900': #c7d1db,
    '1000': #eeefef
  ),
  'neutral-variant': #96937f,
  'success': #36b377,
  'warning': #f2bf2e,
  'danger': #ff1200,
  // arquitectura y diseño
  'ad-primary': #653383,
  'ad-secondary': #00559a,
  // artes
  'a-primary': #6f45e9,
  'a-secondary': #ff4b78,
  'a-tertiary': #2c5595,
  //ciencias
  'c-primary': #008aa2,
  'c-secondary': #f6bd30,
  // ciencias economicas y administrativas
  'cea-primary': #4a7ed8,
  'cea-secondary': #371f75,
  'cea-tertiary': #ff4e30,
  // ciencias juridicas
  'cj-primary': #f6bd30,
  'cj-secondary': #2c5595,
  'cj-tertiary': #c6c6c6,
  // ciencias políticas y relaciones internacionales
  'cpri-primary': #f6bd30,
  'cpri-secondary': #008874,
  // ciencias sociales
  'cs-primary': #003d7a,
  'cs-secondary': #73d9fc,
  'cs-tertiary': #3e2580,
  // comunicación y lenguaje
  'cl-primary': #8048a9,
  'cl-secondary': #73d9fc,
  'cl-tertiary': #2c5595,
  // derecho canónico
  'dc-primary': #f6bd30,
  'dc-secondary': #2c5595,
  'dc-tertiary': #f2f2f2,
  // educación
  'e-primary': #a1bfff,
  'e-secondary': #2a2a68,
  'e-tertiary': #f47abd,
  // enfermería
  'en-primary': #ffcd00,
  'en-secondary': #018ab9,
  // estudios ambientales y rurales
  'ear-primary': #abc80e,
  'ear-secondary': #2dcad1,
  'ear-tertiary': #029be2,
  // filosofía
  'f-primary': #004c8f,
  'f-secondary': #c08300,
  'f-tertiary': #f2f2f2,
  // ingeniería
  'i-primary': #026fc1,
  'i-secondary': #029be1,
  'i-tertiary': #339e36,
  // instituto pensar
  'ip-primary': #00b3ab,
  'ip-secondary': #ff6b17,
  // instituto salud pública
  'isp-primary': #a74731,
  'isp-secondary': #c28069,
  // medicina
  'm-primary': #f6bd30,
  'm-secondary': #2b9cd2,
  // odontología
  'o-primary': #00c7dc,
  'o-secondary': #32abbf,
  // psicología
  'p-primary': #f6bd30,
  'p-secondary': #029be1,
  // teología
  't-primary': #c08300,
  't-secondary': #004c8f
);

$colors-map: (
  'primary': generate-color-scale(map.get($color-base, 'primary')),
  'secondary': generate-color-scale(map.get($color-base, 'secondary')),
  'tertiary': generate-color-scale(map.get($color-base, 'tertiary')),
  'background': generate-color-scale(map.get($color-base, 'background')),
  'neutral': map.get($color-base, 'neutral'),
  'neutral-variant': generate-color-scale(map.get($color-base, 'neutral-variant')),
  'success': generate-color-scale(map.get($color-base, 'success')),
  'warning': generate-color-scale(map.get($color-base, 'warning')),
  'danger': generate-color-scale(map.get($color-base, 'danger'))
);

$colors-theme: (
  'dark': (
    'primary': generate-color-scale(map.get($color-base, 'primary-dark'), true),
    'secondary': generate-color-scale(map.get($color-base, 'secondary'), true),
    'tertiary': generate-color-scale(map.get($color-base, 'tertiary-dark'), true),
    'background': generate-color-scale(map.get($color-base, 'background'), true),
    // ! Fix: el color de fondo no se está invirtiendo correctamente.
    'neutral': invert-color-map(map.get($color-base, 'neutral')),
    'neutral-variant': generate-color-scale(map.get($color-base, 'neutral-variant'), true),
    'success': generate-color-scale(map.get($color-base, 'success'), true),
    'warning': generate-color-scale(map.get($color-base, 'warning'), true),
    'danger': generate-color-scale(map.get($color-base, 'danger'), true)
  ),
  'arquitectura-diseno': (
    'primary': generate-color-scale(#653383, true),
    'secondary': generate-color-scale(#00559a, true)
  ),
  'arquitectura-diseno-dark': (
    'primary': generate-color-scale(#653383, true),
    'secondary': generate-color-scale(#00559a, true)
  ),
  'artes': (
    'primary': generate-color-scale(#6f45e9, true),
    'secondary': generate-color-scale(#ff4b78, true),
    'tertiary': generate-color-scale(#2c5595, true)
  ),
  'ciencias': (
    'primary': generate-color-scale(#008aa2, true),
    'secondary': generate-color-scale(#f6bd30, true)
  ),
  'ciencias-economicas-administrativas': (
    'primary': generate-color-scale(#4a7ed8, true),
    'secondary': generate-color-scale(#371f75, true),
    'tertiary': generate-color-scale(#ff4e30, true)
  ),
  'ciencias-juridicas': (
    'primary': generate-color-scale(#f6bd30, true),
    'secondary': generate-color-scale(#2c5595, true),
    'tertiary': generate-color-scale(#c6c6c6, true)
  ),
  'ciencias-politicas-relaciones-internacionales': (
    'primary': generate-color-scale(#f6bd30, true),
    'secondary': generate-color-scale(#008874, true)
  ),
  'ciencias-sociales': (
    'primary': generate-color-scale(#003d7a, true),
    'secondary': generate-color-scale(#73d9fc, true),
    'tertiary': generate-color-scale(#3e2580, true)
  ),
  'comunicacion-lenguaje': (
    'primary': generate-color-scale(#8048a9, true),
    'secondary': generate-color-scale(#73d9fc, true),
    'tertiary': generate-color-scale(#2c5595, true)
  ),
  'derecho-canonico': (
    'primary': generate-color-scale(#f6bd30, true),
    'secondary': generate-color-scale(#2c5595, true),
    'tertiary': generate-color-scale(#f2f2f2, true)
  ),
  'educacion': (
    'primary': generate-color-scale(#a1bfff, true),
    'secondary': generate-color-scale(#2a2a68, true),
    'tertiary': generate-color-scale(#f47abd, true)
  ),
  'enfermeria': (
    'primary': generate-color-scale(#ffcd00, true),
    'secondary': generate-color-scale(#018ab9, true)
  ),
  'estudios-ambientales-rurales': (
    'primary': generate-color-scale(#abc80e, true),
    'secondary': generate-color-scale(#2dcad1, true),
    'tertiary': generate-color-scale(#029be2, true)
  ),
  'filosofia': (
    'primary': generate-color-scale(#004c8f, true),
    'secondary': generate-color-scale(#c08300, true),
    'tertiary': generate-color-scale(#f2f2f2, true)
  ),
  'ingenieria': (
    'primary': generate-color-scale(#026fc1, true),
    'secondary': generate-color-scale(#029be1, true),
    'tertiary': generate-color-scale(#339e36, true)
  ),
  'instituto-pensar': (
    'primary': generate-color-scale(#00b3ab, true),
    'secondary': generate-color-scale(#ff6b17, true)
  ),
  'instituto-salud-publica': (
    'primary': generate-color-scale(#a74731, true),
    'secondary': generate-color-scale(#c28069, true)
  ),
  'medicina': (
    'primary': generate-color-scale(#f6bd30, true),
    'secondary': generate-color-scale(#2b9cd2, true)
  ),
  'odontologia': (
    'primary': generate-color-scale(#00c7dc, true),
    'secondary': generate-color-scale(#32abbf, true)
  ),
  'psicologia': (
    'primary': generate-color-scale(#f6bd30, true),
    'secondary': generate-color-scale(#029be1, true)
  ),
  'teologia': (
    'primary': generate-color-scale(#c08300, true),
    'secondary': generate-color-scale(#004c8f, true)
  )
);
