<div style="background-color: #2c5697; padding: 40px; border-radius: 3px">
  <div class="form-row justify-content-center align-items-center mb-3 mx-2">
    <div class="col">
      <h3 class="d-block fs-4 text-azul fw-bold text-center" style="color: #f8cd00">
        Esta convocatoria ha finalizado, te esperamos en la próxima edición
      </h3>
    </div>
  </div>
</div>

<div style="background-color: #2c5697; padding: 7px; border-radius: 3px; display: none">
  <style>
    input {
      border: solid #f8cd00 !important;
      font-size: 14px !important;
    }
    select {
      border: solid #f8cd00 !important;
      font-size: 14px !important;
    }

    h5 {
      text-align: left !important;
      color: #f8cd00;
    }

    .subtitulo {
      color: #fff;
      font-weight: 400;
      font-size: 15px;
    }

    .colegio {
      background-color: #2b5088;
    }

    .error_text {
      color: #f88d00 !important;
      font-size: 12px !important;
      margin-top: 2px;
    }
  </style>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <div id="app" style="display: none">
    <div
      id="formulario"
      class="rounded-30 px-2 px-md-3 py-4 mb-50 shadows-sm"
      style="background-color: rgba(var(--bs-light-rgb), 0.8) !important">
      <div class="form-row justify-content-center align-items-center mb-3 mx-2">
        <div class="col">
          <h3 class="d-block fs-4 text-azul fw-bold text-center text-uppercase" style="color: #f8cd00">Inscríbete aquí</h3>
        </div>
      </div>
      <form
        id="form_SF"
        ref="form_SF"
        v-on:submit.prevent="validateForm"
        action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
        method="POST"
        method="post"
        novalidate
        aria-label="Formulario de contacto"
        class="needs-validation">
        <input type="hidden" name="oid" value="00Df4000003l8Bf" />
        <input type="hidden" name="retURL" id="retURL" value="https://www.javeriana.edu.co/expojaveriana/thank-you-page-expo-pregrados" />

        <!--Nombres y apellidos-->
        <div class="form-row col-12">
          <div class="form-group col-md-6 col-sm-12">
            <input
              placeholder="*Nombre(s)"
              id="first_name"
              v-model="data.first_name"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              maxlength="40"
              v-on:change="deleteInvalid('first_name')"
              name="first_name"
              type="text"
              :class="{ error: errors.first_name }"
              required="" />
            <div class="error_text" v-show="errors.first_name">Completa este campo</div>
          </div>

          <div class="form-group col-md-6 col-sm-12">
            <input
              placeholder="*Apellidos"
              id="last_name"
              v-model="data.last_name"
              v-on:change="deleteInvalid('last_name')"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1 needs-validation"
              maxlength="80"
              name="last_name"
              type="text"
              required=""
              :class="{ error: errors.last_name }" />
            <div class="error_text" v-show="errors.last_name">Completa este campo</div>
          </div>
        </div>

        <!--Documentos de identidad-->
        <div class="form-row col-12">
          <div class="form-group col-5">
            <select
              id="00N5G00000WmhsT"
              v-model="data.tipo_doc"
              v-on:change="deleteInvalid('tipo_doc')"
              name="00N5G00000WmhsT"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              required=""
              :class="{ error: errors.tipo_doc }">
              <option value="">*Tipo de documento</option>
              <option value="CC">Cédula Ciudadanía</option>
              <option value="CE">Cédula Extranjería</option>
              <option value="PA">Pasaporte</option>
              <option value="TI">Tarjeta Identidad</option>
              <!-- Agregar opciones aquí -->
            </select>
            <div class="error_text" v-show="errors.tipo_doc">Selecciona</div>
          </div>

          <div class="form-group col-7">
            <input
              placeholder="*Número de documento"
              v-on:change="deleteInvalid('numero_doc')"
              v-model="data.numero_doc"
              id="00N5G00000WmhsR"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              maxlength="255"
              name="00N5G00000WmhsR"
              type="text"
              required
              :class="{ error: errors.numero_doc }" />
            <div class="error_text" v-show="errors.numero_doc">Completa este campo</div>
          </div>
        </div>
        <!--Email y celular-->
        <div class="form-row col-12">
          <div class="form-group col-12">
            <input
              placeholder="*Email"
              id="email"
              v-model="data.email"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              maxlength="80"
              name="email"
              type="email"
              required
              :class="{ error: errors.email }" />
            <div class="error_text" v-show="errors.email">Ingresa un correo válido</div>
          </div>
        </div>

        <div class="form-row col-12">
          <div class="form-group col-3">
            <div class="select-wrapper" style="width: 100%">
              <select
                id="00NJw000002mzb7"
                name="00NJw000002mzb7"
                class="prefijoSelect form-control border-top-0 border-left-0 border-right-0 rounded-1"
                v-model="data.prefijoCel"
                v-on:change="deleteInvalid('prefijoCel')"
                required
                style="font-size: medium; padding: 0px 25px 0px 5px">
                <option value="">(+) Indicativo</option>
                <option
                  v-for="pais in prefijoCel"
                  :value="pais.phoneCode"
                  v-bind:style="{ backgroundColor: pais.phoneName === 'Colombia' ? 'aliceBlue' : '', color: pais.phoneName === 'Colombia' ? '#000000' : '', fontWeight: pais.phoneName === 'Colombia' ? '900' : '' }">
                  (+{{ pais.phoneCode }}) {{ pais.phoneName }}
                </option>
              </select>
              <div class="error_text" v-show="errors.prefijoCel">*Seleccione</div>
            </div>
          </div>
          <div class="form-group col-9">
            <input
              placeholder="*Teléfono celular"
              id="mobile"
              v-model="data.mobile"
              v-on:change="deleteInvalid('mobile')"
              class="form-control col-12 border-top-0 border-left-0 border-right-0 rounded-1"
              name="mobile"
              type="text"
              minlength="8"
              maxlength="15"
              required
              :class="{ error: errors.mobile }" />
            <div class="error_text" v-show="errors.mobile">*Campo obligatorio (entre 8 y 10 caracteres)</div>
          </div>
        </div>

        <!--Ubicacion-->
        <div class="form-row col-12">
          <!-- Pais -->
          <div class="form-group col-12">
            <select
              v-model="data.pais"
              v-on:change="deleteInvalid('pais')"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              id="00N5G00000WmhvJ"
              name="00N5G00000WmhvJ"
              required
              :class="{ error: errors.pais }">
              <option value="">*Pais de residencia</option>
              <option
                v-for="(item, index) in ubicaciones"
                v-bind:value="index"
                v-bind:style="(index=='COL') ? 'font-weight: 700;background-color:aliceblue;' : '' ">
                {{ item.nombre }}
              </option>
            </select>
            <div class="error_text" v-show="errors.pais">Selecciona</div>
          </div>

          <!-- Departamento -->
          <div class="form-group col-md-6 col-sm-12" id="departamentoContainer" v-if="data.pais=='COL'">
            <select
              v-model="data.departamento"
              v-on:change="deleteInvalid('departamento')"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              id="00N5G00000WmhvX"
              name="00N5G00000WmhvX"
              :class="{ error: errors.departamento }">
              <option value="">*Selecciona el departamento</option>
              <option v-for="(item, index) in ubicaciones[data.pais].departamentos" v-bind:value="item.codigo">{{ item.nombre }}</option>
            </select>
            <div class="error_text" v-show="errors.departamento">Selecciona</div>
          </div>

          <!-- Ciudad -->
          <div class="form-group col-md-6 col-sm-12" id="ciudadContainer" v-if="data.pais=='COL' && data.departamento!=''">
            <select
              v-model="data.ciudad"
              v-on:change="deleteInvalid('ciudad')"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              id="00N5G00000WmhvO"
              name="00N5G00000WmhvO"
              v-bind:required="data.pais=='COL'"
              :class="{ error: errors.ciudad }">
              <option value="">*Selecciona la Ciudad</option>
              <option v-for="(item, index) in getCiudades(data.departamento)" v-bind:value="item.codigo">{{ item.nombre }}</option>
            </select>
            <div class="error_text" v-show="errors.ciudad">Selecciona</div>
          </div>
        </div>

        <!-- Tipo de asistente-->
        <div class="form-row col-12">
          <div class="col-md-12 col-sm-12">
            <span class="wpcf7-form-control-wrap">
              <select
                v-model="data.tipo_asistente"
                v-on:change="deleteInvalid('tipo_asistente')"
                class="form-control select validates-as-required form-select border-top-0 border-left-0 border-right-0 rounded-1 text-dark"
                name="00NJw000001J3g6"
                id="00NJw000001J3g6"
                required
                :class="{ error: errors.tipo_asistente }">
                <option value="">*Tipo de asistente</option>
                <option value="Aspirante">Aspirante</option>
                <option value="Padre de familia y/o acudiente">Padre de familia y/o acudiente</option>
                <option value="Docente y/o psicoorientador">Docente y/o psicoorientador</option>
                <!-- <option value="Visitante PUJ">Visitante PUJ</option>
                                <option value="Administrativo PUJ">Administrativo PUJ</option> -->
              </select>
              <div class="error_text" v-show="errors.tipo_asistente">Selecciona</div>
            </span>
          </div>
        </div>

        <input
          type="hidden"
          name="00N5G00000WmhvV"
          value="NOAP"
          v-if="data.tipo_asistente=='Padre de familia y/o acudiente' || data.tipo_asistente=='Visitante PUJ' || data.tipo_asistente=='Administrativo PUJ' || data.tipo_asistente=='Docente y/o psicoorientador'" />

        <!--Nivel académico-->
        <div
          style="display: none"
          class="col-md-6 col-sm-12"
          id="nivelAcademicoRow"
          v-if="data.tipo_asistente!='' &&
                    (data.tipo_asistente=='Aspirante')">
          <span class="wpcf7-form-control-wrap">
            <select
              id="nivelacademico"
              v-model="data.nivelacademico"
              v-on:change="deleteInvalid('nivelacademico')"
              class="form-control select validates-as-required form-select rounded-1 text-dark mb-3"
              name="nivelacademico"
              :class="{ error: errors.nivelacademico }">
              <option value="PREG">Pregrado</option>
            </select>
            <div class="error_text" v-show="errors.nivelacademico">Selecciona</div>
          </span>
        </div>

        <!--Colegio-->
        <div class="form-row col-12 colegio">
          <div
            class="form-group col-md-12 col-sm-12"
            id="colegioRow"
            v-if="data.tipo_asistente!='' &&
                            (data.tipo_asistente=='Aspirante' || data.tipo_asistente=='Docente y/o psicoorientador')">
            <h5>
              <br />Selecciona tu colegio:<br />
              <span class="subtitulo"> Puedes filtrar por ciudad/departamento o escribir una palabra clave<br /></span>
            </h5>

            <div class="form-row col-12">
              <!-- Select de Departamento -->
              <select
                v-model="selectedDepartment"
                v-on:change="filterCities"
                class="form-control select form-select border-top-0 border-left-0 border-bottom-0 border-right-1 rounded-1 text-dark mb-3 col-6">
                <option value="">Filtrar por Departamento</option>
                <option v-for="dep in departments" :key="dep.codigo" :value="dep.codigo">{{ dep.nombre }}</option>
              </select>

              <!-- Select de Ciudad filtrado por Departamento -->
              <select
                v-model="selectedCity"
                v-on:change="filterColegios"
                class="form-control select form-select border-top-0 border-left-1 border-bottom-0 border-right-0 rounded-1 text-dark mb-3 col-6">
                <option value="">Filtrar por Ciudad</option>
                <option v-for="city in cities" :key="city" :value="city">{{ city }}</option>
              </select>
            </div>

            <div class="form-row col-12">
              <!-- Input para buscar y mostrar el colegio seleccionado -->
              <input
                type="text"
                v-model="searchTerm"
                v-on:keyup="filterColegios"
                placeholder="Filtrar por nombre o palabra clave"
                class="form-control border-top-0 border-left-0 border-bottom-0 border-right-0 rounded-1 mb-3" />

              <!-- Lista de colegios filtrados (oculta hasta que haya ciudad, departamento o búsqueda) -->
              <ul
                v-show="(filteredColegios.length > 0 && (selectedCity || selectedDepartment || searchTerm)) && !colegioSeleccionado"
                class="list-group"
                style="max-height: 200px; overflow-y: auto; margin-bottom: 5px; width: 100%; font-size: 14px">
                <li
                  v-for="(colegio, index) in filteredColegios.slice(0, 100000)"
                  :key="colegio.ID"
                  v-on:click="selectColegio(colegio.PUJ_EXTERNALORGID__C, colegio.NAME)"
                  class="list-group-item list-group-item-action">
                  {{ colegio.NAME }}
                </li>
              </ul>
              <input style="display: none" id="00NJw0000041omr" name="00NJw0000041omr" v-model="data.colegio" />
              <div class="error_text" v-show="errors.colegio">Selecciona un colegio</div>
            </div>
          </div>
        </div>

        <!--Facultad-->
        <div
          style="margin-top: 10px"
          class="form-row col-12"
          v-if="data.nivelacademico!=''&&
                (data.tipo_asistente=='Aspirante')">
          <h5 style="text-align: center"><br />¿En cuál programa estás interesado?<br /></h5>
          <div class="col-12">
            <span class="wpcf7-form-control-wrap">
              <select
                id="Facultad"
                v-model="data.facultad"
                v-on:change="deleteInvalid('facultad')"
                class="form-control select validates-as-required form-select border-top-0 border-left-0 border-right-0 rounded-1 text-dark"
                name="Facultad"
                :class="{ error: errors.facultad }">
                <option value="">*Selecciona la facultad</option>
                <option v-for="item in programas[data.nivelacademico]" v-bind:value="item.FacultadCodigo">{{ item.FacultadCodigo }}</option>
              </select>
              <div class="error_text" v-show="errors.facultad">Selecciona</div>
            </span>
          </div>
        </div>

        <!--Programa-->
        <div class="form-row col-12" v-if="data.facultad!=''" style="margin-top: 10px">
          <div class="col-12">
            <span class="wpcf7-form-control-wrap">
              <select
                id="00N5G00000WmhvV"
                v-model="data.programa"
                v-on:change="deleteInvalid('programa')"
                class="form-control select validates-as-required form-select border-top-0 border-left-0 border-right-0 rounded-1 text-dark"
                name="00N5G00000WmhvV"
                :class="{ error: errors.programa }">
                <option value="">*Selecciona el programa</option>
                <option value="NOAP" style="display: none">NOAP</option>
                <option v-for="prog in programas[data.nivelacademico][data.facultad]?.Programas" v-bind:value="prog.Codigo">
                  {{ prog.Nombre }}
                </option>
              </select>
              <div class="error_text" v-show="errors.programa">Selecciona</div>
            </span>
          </div>
        </div>

        <!--Periodo de Ingreso-->
        <div class="form-row col-12" v-if="data.facultad!=''" style="margin-top: 10px">
          <div class="col-12 mb-3">
            <span class="wpcf7-form-control-wrap">
              <select
                id="00N5G00000WmhvI"
                v-model="data.periodo_esperado"
                maxlength="20"
                v-on:change="deleteInvalid('periodo_esperado')"
                name="00N5G00000WmhvI"
                class="form-control select validates-as-required form-select border-top-0 border-left-0 border-right-0 rounded-1 text-dark"
                :class="{ error: errors.periodo_esperado }">
                <option value="">*Periodo esperado de Ingreso</option>
                <option v-for="(index, item) in periodoSel" v-bind:value="index">{{ item }}</option>
              </select>
              <div class="error_text" v-show="errors.periodo_esperado">Selecciona</div>
            </span>
          </div>
        </div>

        <!-- día de asistencia -->
        <div class="form-row col-12" v-if="data.tipo_asistente!=''">
          <h5 style="text-align: center"><br />¿Qué día Asistirás?<br /></h5>
          <div style="margin-top: 3px !important" class="form-group col-md-12 col-sm-12" id="diacontainer">
            <select
              v-model="data.dia"
              v-on:change="deleteInvalid('dia')"
              class="form-control border-top-0 border-left-0 border-right-0 rounded-1"
              id="00NJw000004iuIj"
              name="00NJw000004iuIj"
              :class="{ error: errors.dia }">
              <option value="">*Día de asistencia</option>
              <!-- <option v-if="data.tipo_asistente!='' &&
                            (data.tipo_asistente!='Padre de familia y/o acudiente')" value="martes, 25 de febrero">Martes, 25 de febrero</option> -->
              <!--  <option v-if="data.tipo_asistente!='' &&
                            (data.tipo_asistente!='Padre de familia y/o acudiente')" value="miércoles, 26 de febrero">Miércoles, 26 de febrero</option> -->
              <!-- <option v-if="data.tipo_asistente!='' &&
                            (data.tipo_asistente!='Padre de familia y/o acudiente')" value="jueves, 27 de febrero">Jueves, 27 de febrero</option> -->
              <!--<option v-if="data.tipo_asistente!='' &&
                            (data.tipo_asistente!='Padre de familia y/o acudiente')" value="viernes, 28 de febrero">Viernes, 28 de febrero</option>-->
              <option
                v-if="data.tipo_asistente!='' &&
                            (data.tipo_asistente=='Aspirante' || data.tipo_asistente=='Padre de familia y/o acudiente')"
                value="sábado, 1 de marzo">
                Sábado, 1 de marzo
              </option>
            </select>
            <div class="error_text" v-show="errors.dia">Selecciona</div>
          </div>
        </div>

        <!-- para ocultar-->
        <div style="display: none">
          <div class="form-row">
            Origen de la Solicitud:<select
              id="00NJw000001J3Hl"
              name="00NJw000001J3Hl"
              v-model="data.origen_sol"
              title="Origen de la Solicitud">
              <option selected value="expo_aspirante">Web to Lead</option>
            </select>

            Fuente autorización datos personales:<select
              id="00N5G00000WmhvT"
              name="00N5G00000WmhvT"
              v-model="data.fuenteAutoriza"
              title="Fuente autorización datos personales">
              <option value="Landing Expojaveriana">Landing Expojaveriana</option>
            </select>
            <label for="lead_source">Origen del candidato</label>
            <select id="lead_source" v-model="data.lead" name="lead_source">
              <option value="Landing Pages">Landing Pages</option>
            </select>
            <label for="company">Compañía</label
            ><input id="company" v-model="data.company" maxlength="40" name="company" size="20" type="text" value="NA" />
          </div>

          <!--UTMS-->
          <div class="form-row">
            Fuente:<input id="00N5G00000WmhvW" v-model="data.fuente" name="00N5G00000WmhvW" title="Fuente" type="text" /> Subfuente:<input
              id="00N5G00000WmhvZ"
              v-model="data.subfuente"
              name="00N5G00000WmhvZ"
              title="Subfuente"
              type="text" />
            Medio <input id="00NJw000001J3g8" v-model="data.medio" name="00NJw000001J3g8" title="Medio" type="text" /> Campaña:<input
              id="00N5G00000Wmi8x"
              v-model="data.campana"
              maxlength="255"
              name="00N5G00000Wmi8x"
              type="text" />
          </div>
        </div>

        <!--Legales y botón de inscripción-->
        <div class="form-row col-12 mb-3">
          <div class="col-12">
            <span class="d-block text-azul" style="color: #fff"
              >¿Aceptas el tratamiento de tus datos personales de acuerdo con la
              <a
                href="https://www.javeriana.edu.co/informacion/politica-y-tratamiento-de-datos-personales"
                class="text-azul fw-medium text-decoration-underline"
                target="_blank"
                download=""
                style="color: #f8cd00"
                >Política de Protección de Datos Personales</a
              >?</span
            >
            <div class="form-check form-check-inline">
              <input
                v-on:change="validateAutoriza()"
                class="form-check-input"
                type="radio"
                v-model="data.autoriza"
                id="00N5G00000WmhvF"
                name="00N5G00000WmhvF"
                value="1" />
              <label class="form-check-label text-azul" for="00N5G00000WmhvF" style="color: #fff">Sí</label><br />
            </div>
            <div class="form-check form-check-inline">
              <input
                v-on:change="validateAutoriza()"
                class="form-check-input"
                type="radio"
                v-model="data.autoriza"
                name="00N5G00000WmhvF"
                id="00N5G00000WmhvF"
                value="0" />
              <label class="form-check-label text-azul" for="autorizacion-2" style="color: #fff">No</label>
            </div>
          </div>
          <div class="col-md-12" id="autorizacionErrorMessage" v-show="errors.autoriza">
            <p style="color: rgb(218, 186, 8); font-size: 0.8rem">
              La Pontificia Universidad Javeriana requiere de su autorización para el tratamiento de sus datos personales para continuar con
              el presente proceso, sin la autorización legalmente no podemos darle continuidad al mismo
            </p>
          </div>
        </div>
        <!--Botón-->
        <div class="form-row col-12 mb-3">
          <div class="col-12">
            <button class="btn btn-warning w-100 py-2 text-azul fw-bold" type="submit" v-bind:disabled="formInValid || isSubmitting">
              Inscríbete ahora
            </button>
          </div>
        </div>
        <div
          id="successMsg"
          class="wpcf7-response-output"
          style="border: 2px solid green; background-color: lightgrey; padding: 10px; border-radius: 5px; display: none">
          Gracias por tu mensaje. Ha sido enviado.
        </div>
      </form>
    </div>
  </div>

  <!-- SE IMPLEMENTA VUE -->
  <script>
    const { createApp } = Vue

    const app = createApp({
      data() {
        return {
          prefijoCel: [],
          programas: [],
          periodos: [],
          ubicaciones: [],
          periodoSel: [],
          colegios: [],
          selectedDepartment: '',
          departments: [],
          searchTerm: '', // Para el término de búsqueda
          selectedCity: '', // Para la ciudad seleccionada
          filteredColegios: [], // Colegios filtrados
          cities: [], // Lista de ciudades
          formInValid: true,
          isSubmitting: false,
          data: {
            first_name: '',
            last_name: '',
            tipo_doc: '',
            numero_doc: '',
            email: '',
            mobile: '',
            prefijoCel: '',
            pais: '',
            departamento: '',
            ciudad: '',
            tipo_asistente: '',
            nivelacademico: '',
            facultad: '',
            programa: 'NOAP',
            colegio: '',
            periodo_esperado: '',
            dia: '',
            origen_sol: 'expo_aspirante',
            fuenteAutoriza: 'Landing Expojaveriana',
            lead: 'Landing Pages',
            company: 'NA',
            fuente: 'Javeriana',
            subfuente: 'Organico',
            medio: 'Landing',
            campana: 'expojaveriana_preg_2025_10',
            autoriza: '',
            programNoap: ''
          },
          errors: {
            first_name: false,
            last_name: false,
            tipo_doc: false,
            numero_doc: false,
            email: false,
            mobile: false,
            prefijoCel: false,
            pais: false,
            departamento: false,
            ciudad: false,
            tipo_asistente: false,
            nivelacademico: false,
            facultad: false,
            programa: false,
            colegio: false,
            periodo_esperado: false,
            dia: false,
            origen_sol: false,
            fuenteAutoriza: false,
            lead: false,
            company: false,
            fuente: false,
            subfuente: false,
            medio: false,
            campana: false,
            autoriza: false
          }
        }
      },
      watch: {
        'data.mobile': function (newMobile, oldMobile) {
          this.data.mobile = this.limpiarNumeros(newMobile)
        },
        'data.email': function (newEmail, oldEmail) {
          const regex =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          if (regex.test(newEmail) === false) {
            this.errors.email = true
          } else {
            this.errors.email = false
          }
        },
        'data.nivelacademico': function (newPerido, oldPeriodo) {
          this.periodoSel = this.periodos[newPerido]
          if (newPerido != oldPeriodo) {
            this.data.programa = ''
            this.data.facultad = ''
            this.data.periodo_esperado = ''
          }
        },
        'data.facultad': function (newFacultad, oldFacultad) {
          if (newFacultad != oldFacultad) {
            this.data.programa = ''
          }
        },
        'data.tipo_asistente': function (newAsis, oldAsis) {
          if (newAsis != oldAsis) {
            this.data.nivelacademico = ''
            this.data.facultad = ''
            this.data.colegio = ''
            this.searchTerm = ''
            this.selectedDepartment = ''
            this.selectedCity = ''
            this.data.dia = ''
          }
          if (newAsis == 'Aspirante') {
            this.data.nivelacademico = 'PREG'
          } else {
            // if (newAsis == 'Docente y/o psicoorientador'){
            this.data.programa = 'NOAP'
          }
        }
      },
      mounted() {
        // Recien carga el sitio se cargan los datos
        this.limpiarDatos()
        this.getUbicaciones()
        this.getPeriodos()
        this.getProgramas()
        this.getParametersGet()
        this.getPrefijoCel()
        this.loadColegios()
      },
      methods: {
        /**
         * Funcion para limpiar la variable de los datos
         **/
        limpiarDatos() {
          this.data = {
            first_name: '',
            last_name: '',
            tipo_doc: '',
            numero_doc: '',
            email: '',
            mobile: '',
            prefijoCel: '',
            pais: '',
            departamento: '',
            ciudad: '',
            tipo_asistente: '',
            nivelacademico: '',
            facultad: '',
            programa: 'NOAP',
            colegio: '',
            periodo_esperado: '',
            dia: '',
            origen_sol: 'expo_aspirante',
            fuenteAutoriza: 'Landing Expojaveriana',
            lead: 'Landing Pages',
            company: 'NA',
            fuente: 'Javeriana',
            subfuente: 'Organico',
            medio: 'Landing',
            campana: 'expojaveriana_preg_2025_10',
            autoriza: '',
            programNoap: ''
          }
        },
        /**
         * Funcion para obtener los valores de los parametros que vienen por GET
         **/
        getParametersGet() {
          let urlParams = new URLSearchParams(window.location.search)
          this.data.fuente = urlParams.has('utm_source') ? urlParams.get('utm_source') : 'Javeriana'
          this.data.subfuente = urlParams.has('utm_subsource') ? urlParams.get('utm_subsource') : 'Organico'
          this.data.medio = urlParams.has('utm_medium') ? urlParams.get('utm_medium') : 'Landing'
          this.data.campana = urlParams.has('utm_campaign') ? urlParams.get('utm_campaign') : 'expojaveriana_preg_2025_10'
        },
        /**
         * Funcion para cargar los programas
         **/
        getProgramas() {
          //axios.get(' https://raw.githubusercontent.com/gesalas/W2lead_expojaveriana/main/Json/programas.json')
          axios
            .get('https://www.javeriana.edu.co/recursosdb/1372208/10609114/programas.json/763c6e09-7714-08f0-e639-24a6db5d3750')
            .then(response => {
              const resultado = {}

              for (const area in response) {
                const facultadesFiltradas = Object.entries(data[area]).filter(([nombre]) =>
                  nombre.toLowerCase().includes('Enfermer\u00eda'.toLowerCase())
                )

                if (facultadesFiltradas.length > 0) {
                  resultado[area] = Object.fromEntries(facultadesFiltradas)
                }
              }

              this.programas = resultado
            })
            .catch(function (error) {
              console.log(error)
            })
        },
        /**
         * Funcion para cargar los periodos
         **/
        getPeriodos() {
          //axios.get('https://raw.githubusercontent.com/gesalas/W2lead_expojaveriana/main/Json/periodos.json')
          axios
            .get('https://www.javeriana.edu.co/recursosdb/1372208/10609114/periodos.json/d4112f99-7175-becd-5fdf-81f7c2c8527c')
            .then(response => {
              this.periodos = response.data
            })
            .catch(function (error) {
              console.log(error)
            })
        },
        /**
         * Funcion para cargar las ubicaciones
         **/
        getUbicaciones() {
          //axios.get('https://raw.githubusercontent.com/gesalas/W2lead_expojaveriana/main/Json/ubicaciones.json')
          axios
            .get('https://www.javeriana.edu.co/recursosdb/1372208/10609114/ubicaciones.json/42eea925-0d5b-f9b9-e17d-fb7ca71a69ad')
            .then(response => {
              this.ubicaciones = response.data

              // Obtener la lista de departamentos
              this.departments = this.ubicaciones.COL.departamentos
                .map(departamento => ({
                  nombre: departamento.nombre,
                  codigo: departamento.codigo
                }))
                .sort((a, b) => a.nombre.localeCompare(b.nombre))
            })
            .catch(function (error) {
              console.log(error)
            })
        },
        /**
         * Funcion para obtener las ciudades del departamento seleccionado
         **/
        getCiudades(departamento) {
          let departamentoSel = this.ubicaciones['COL'].departamentos.filter(res => {
            return res.codigo == departamento
          })
          return departamentoSel[0].ciudades
        },
        getPrefijoCel() {
          axios
            .get('https://www.javeriana.edu.co/recursosdb/1372208/10609114/codigos_pais.json/4733fa76-c07d-e51e-dcc0-0271cc2cdc2e')
            //axios.get('https://raw.githubusercontent.com/gesalas/Piloto_registro_de_llamadas/main/Json/codigos_pais.json')
            .then(response => {
              // Filtrar los datos para obtener solo los códigos de país y sus prefijos
              this.prefijoCel = response.data.map(pais => {
                return {
                  iso2: pais.iso2,
                  phoneCode: pais.phoneCode,
                  phoneName: pais.nameES
                }
              })
            })
        },

        /*colegios*/
        loadColegios() {
          axios
            .get('https://www.javeriana.edu.co/recursosdb/1372208/10609114/Colegios+PRD.json')
            //axios.get('https://raw.githubusercontent.com/gesalas/W2lead_expojaveriana/main/Json/Colegios%20PRD.json')
            .then(response => {
              this.colegios = response.data.cuentasInstitucionales
              this.filterColegios()
            })
            .catch(error => {
              console.error('Error al cargar los colegios:', error)
            })
        },
        deleteInvalid(field) {
          if (this.data[field]) {
            this.errors[field] = false
          }
        },
        selectColegio(externalId, nombreColegio) {
          this.data.colegio = externalId // Asigna el valor del ID del colegio seleccionado
          this.searchTerm = nombreColegio // Actualiza el campo de búsqueda con el nombre del colegio seleccionado
          this.colegioSeleccionado = true // Marca que se ha seleccionado un colegio
          this.errors.colegio = false // Limpia el error si es necesario
        },

        // Método para filtrar ciudades según el departamento seleccionado
        filterCities() {
          // Encuentra el departamento seleccionado
          const selectedDep = this.ubicaciones.COL.departamentos.find(dep => dep.codigo === this.selectedDepartment)

          if (selectedDep) {
            // Filtra las ciudades que tienen colegios
            const ciudadesConColegios = new Set(this.colegios.map(colegio => colegio.SHIPPINGCITY))

            // Solo muestra ciudades que pertenecen al departamento y tienen colegios
            this.cities = selectedDep.ciudades
              .map(ciudad => ciudad.nombre)
              .filter(ciudad => ciudadesConColegios.has(ciudad))
              .sort() // Ordena las ciudades alfabéticamente

            // Selecciona automáticamente la primera ciudad si hay ciudades disponibles
            if (this.cities.length > 0) {
              this.selectedCity = this.cities[0] // Selecciona la primera ciudad
            } else {
              this.selectedCity = '' // Resetea la ciudad si no hay disponibles
            }
          } else {
            this.cities = [] // Si no hay departamento seleccionado, resetea las ciudades
            this.selectedCity = ''
          }

          // Resetear el colegio seleccionado y limpiar la lista de colegios filtrados
          this.data.colegio = ''
          this.filteredColegios = []
          this.searchTerm = '' // Limpia el campo de búsqueda
          this.filterColegios() // Actualiza la lista de colegios
        },

        // Método para filtrar colegios según la ciudad seleccionada o el término de búsqueda
        filterColegios() {
          // Si el campo de búsqueda está vacío, resetea el colegio seleccionado
          if (!this.searchTerm) {
            this.data.colegio = ''
            this.colegioSeleccionado = false // Indica que no hay colegio seleccionado
          }

          // Filtra los colegios según la ciudad seleccionada y el término de búsqueda
          this.filteredColegios = this.colegios
            .filter(colegio => {
              const matchesCity = this.selectedCity ? colegio.SHIPPINGCITY === this.selectedCity : true // Coincide con la ciudad seleccionada
              const matchesSearch = colegio.NAME.toLowerCase().includes(this.searchTerm.toLowerCase()) // Coincide con el término de búsqueda
              return matchesCity && matchesSearch
            })
            .sort((a, b) => a.NAME.localeCompare(b.NAME)) // Ordena los colegios alfabéticamente

          if (this.filteredColegios.length === 0) {
            this.data.colegio = ''
          }
        },

        /**
         * Funcion para validar si esta el campo de aceptar terminos
         **/
        validateAutoriza() {
          if (this.data.autoriza == '1') {
            this.errors.autoriza = false
            this.formInValid = false
          } else if (this.data.autoriza == '0') {
            this.errors.autoriza = true
            this.formInValid = true
          }
        },
        /**
         * Funcion para limpiar textos
         **/
        limpiarTexto(texto) {
          let textolimpio = texto.replace(/[^a-zA-Záéíóúñ ]/g, '')
          return textolimpio
        },
        /**
         * Funcion para limpiar numeros
         **/
        limpiarNumeros(numero) {
          let textolimpio = numero.replace(/[^0-9 ]/g, '')
          return textolimpio
        },
        /**
         * Funcion para limpiar json
         **/
        limpiarJson(texto) {
          return texto
            .replaceAll('|', '')
            .replace(/(\r\n|\n|\r)/gm, '')
            .replace(/['"]+/g, "'")
            .trim()
        },
        /**
         * Funcion para limpiar alfanumericos
         **/
        limpiarAlfanumerico(text) {
          let textolimpio = text.replace(/[^a-zA-Z0-9- ]/g, '')
          return textolimpio
        },
        /**
         * Funcion para validar que los campos tengan datos
         **/
        validateInputs() {
          let valid = true
          let keys = Object.keys(this.data)
          keys.forEach(element => {
            this.errors[element] = false
            switch (element) {
              case 'first_name':
              case 'last_name':
              case 'tipo_doc':
              case 'numero_doc':
              case 'pais':
              case 'prefijoCel':
              case 'tipo_asistente':
              case 'dia':
                if (this.data[element] == '' || this.data[element] == null) {
                  valid = false
                  this.errors[element] = true
                }
                break
              case 'departamento':
              case 'ciudad':
                if ((this.data[element] == '' || this.data[element] == null) && this.data.pais == 'COL') {
                  valid = false
                  this.errors[element] = true
                }
                break
              case 'email':
                const regex =
                  /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                if (this.data[element] == '' || this.data[element] == null) {
                  valid = false
                  this.errors[element] = true
                } else if (regex.test(this.data[element]) === false) {
                  valid = false
                  this.errors[element] = true
                }
                break
              case 'mobile':
                if (this.data[element] == '' || this.data[element] == null || this.data[element].length < 8) {
                  valid = false
                  this.errors[element] = true
                }
                break
              case 'nivelacademico':
              case 'facultad':
              case 'periodo_esperado':
                if ((this.data[element] == '' || this.data[element] == null) && this.data.tipo_asistente == 'Aspirante') {
                  valid = false
                  this.errors[element] = true
                }
                break
              case 'programa':
                if (
                  (this.data[element] == '' || this.data[element] == null || this.data[element] == 'NOAP') &&
                  this.data.tipo_asistente == 'Aspirante'
                ) {
                  valid = false
                  this.errors[element] = true
                }
                break
              case 'colegio':
                if (
                  (this.data[element] == '' || this.data[element] == null) &&
                  (this.data.tipo_asistente == 'Aspirante' || this.data.tipo_asistente == 'Docente y/o psicoorientador')
                ) {
                  valid = false
                  this.errors[element] = true
                }
                break

              default:
                break
            }
          })
          return valid
        },
        /**
         * Funcion para enviar el formulario
         **/
        validateForm: function (e) {
          if (!this.validateInputs()) {
            e.preventDefault()
            return false
          } else {
            this.isSubmitting = true
            this.$refs.form_SF.submit()
          }
        },
        /**
         * Funcion para limpiar en caso que sea invalido
         **/
        deleteInvalid(campo) {
          this.errors[campo] = false
        }
      }
    })

    app.mount('#app')
  </script>

  <!--http://127.0.0.1:3000/Form.html?utm_source=Comercial&utm_subsource=Invitación&utm_medium=Correo&utm_campaign=Liferay-->
  <!-- Programa por confirmar: NOAP -->
</div>
