@use '@styles/autoload' as *;

.btn-return {
  padding: rem(20px);
  padding-bottom: 0;
  padding-left: 0;
  padding-top: rem(100px);

  .back-button {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: rem(10px);
    text-decoration: none;
    font-size: rem(18px);
    font-weight: bold;
    border-radius: rem(8px);
    transform-origin: left center;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
    cursor: pointer;

    i {
      color: var(--primary);
      font-size: rem(16px);
      font-weight: 700;
      line-height: 1;
      display: flex;
      align-items: center;
    }

    .title-return {
      font-size: var(--font-size-paragraph);
      color: var(--primary);
      margin: 0;
      line-height: 1;
      display: flex;
      align-items: center;
    }
  }

  .back-button:hover {
    transform: scale(1.05);
    transform-origin: left center;
  }
}
