@use '@styles/autoload' as *;

.program-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-lg);
  padding: var(--spacing-md) 0;
  text-align: left;

  &__item {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-md);
  }

  &__icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
  }

  .ph {
    color: var(--neutral-1100);
    font-size: 22px;
  }

  &__label {
    font-size: var(--font-size-small);
    color: var(--neutral-700);
  }

  &__value {
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-bold);
    color: var(--neutral-100);
  }

  &__note {
    font-size: var(--font-size-small);
    color: var(--neutral-500);
    margin-top: 12px;
  }

  &__item:last-child {
    grid-column: span 2;
  }
}

@media (max-width: $breakpoint-md) {
  .program-details {
    order: 4;
    display: flex;
    flex-direction: column;
  }

  .program-details-row {
    order: 5;
  }
}
