<div class="container faq" id="section-eleven">
  <div>
    <h2 class="title title-lg faq__title">
      <span
        class="caption caption-neutral caption-default caption-md"
        data-lfr-editable-id="caption-faq-title"
        data-lfr-editable-type="text">
        Preguntas Frecuentes de la
      </span>
      <span data-puj-type="true" class="caption caption-neutral caption-default caption-md"> Cargando tipo... </span>
      <span
        class="caption caption-neutral caption-default caption-md"
        data-lfr-editable-id="caption-faq-title-2"
        data-lfr-editable-type="text">
        de
      </span>
      <span data-puj-name="true" class="caption caption-neutral caption-default caption-md"> Cargando nombre... </span>
    </h2>
    <lfr-widget-web-content id="widget1"></lfr-widget-web-content>
  </div>
</div>
