@use '@styles/autoload' as *;

.double-titulacion-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .content-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .main-title {
    color: var(--neutral-400);
    font-weight: var(--font-weight-bold);
    padding: rem(50px);
    text-align: center;
    font-size: clamp(1.25rem, 2vw + 1rem, 1.875rem); 
  }

  .hero-section {
    position: relative;
    width: 100%;
    height: rem(700px);
    background-image: url('https://www.javeriana.edu.co/recursosdb/d/info-prg/fondobiblioteca');
    background-size: cover;
    background-position: center;
    border-radius: rem(12px);
    overflow: hidden;
    margin-bottom: rem(40px);
    box-shadow: 0 rem(4px) rem(10px) rgba(0, 0, 0, 0.1);

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
      display: flex;
      align-items: center;
      padding: rem(20px);
      justify-content: center;
    }

    .hero-content {
      width: 85%;
      color: white;

      .hero-title {
        font-size: var(--font-size-principal-title);
        font-weight: bold;
        margin-bottom: rem(16px);
        max-width: rem(600px);
      }

      .hero-description {
        font-size: rem(16px);
        max-width: rem(550px);
        margin-bottom: rem(30px);
        line-height: 1.6;
      }
    }
  }

  .cards-container {
    display: flex;
    gap: rem(16px);
    padding-top: rem(20px);

    @media (max-width: 768px) {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .info-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: rem(8px);
    padding: rem(20px);
    flex: 1;
    height: auto;
    max-width: rem(200px);
    backdrop-filter: blur(rem(3px));
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(rem(-5px));
    }

    .card-title {
      font-size: var(--font-size-caption);
      font-weight: bold;
      margin-bottom: rem(12px);
      color: white;
    }

    .card-description {
      font-size: var(--font-size-paragraph);
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

@media (max-width: 768px) {
  .double-titulacion-container {
    .hero-section {
      height: auto;
      min-height: rem(800px);
      border-radius: 0;
      padding: rem(20px);
    }

    .hero-content {
      .hero-title {
        font-size: var(--font-size-title);
      }
    }

    .cards-container {
      flex-direction: column;
    }

    .info-card {
      max-width: 80%;
      min-width: rem(200px);
    }
  }
}
