@use '@styles/autoload' as *;

#section-seven{

background-color: var(--background-100); 

.testimonial-card,
.image-card-7,
.video-card-7,
.instagram-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.experience-carousel_title {
  width: fit-content;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title);
  color: var(--neutral-100);
  width: 100%;
  padding-bottom: 25px;
  text-align: center;
}

.experience-carousel__description {
  color: var(--neutral-500);
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: var(--spacing-xl);
}

.card-item-7{
  height: 360px;

  .testimonial-card{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-lg);
    background-color: var(--primary);
    height: 100%;
    padding: 20px;

    :nth-child(1){
      font-size: var(--font-size-paragraph);
      font-weight: var(--font-weight-bold);
      color: var(--neutral);
    }

    .testimonial-user{
      display: flex;
      align-items: center;
      margin-top: auto;
      width: 100%;

      .testimonial-avatar{
        width: 25%;
        display: flex;
        justify-content: center;
        img{
        height: 58.5px;
        border-radius: 100%;
        }
      }

      .testimonial-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 100%;

        :nth-child(1){
          font-size: var(--font-size-paragraph);
          font-weight: var(--font-weight-bold);
          color: var(--neutral);
        }

        :nth-child(2){
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-regular);
          color: var(--neutral);
        }

        .paragraph.paragraph-md{
          margin-bottom: 0;
        }
      }

      .testimonial-linkedin{
        margin: 0 auto;
        margin-top: auto;
        
        i{
          font-size: var(--icon-size-md);
          font-weight: var( --font-weight-thin);
        }
      }
    }
  }

  .card-link-7{

    height: 100%;

    .experience-carousel__image {
      width: 100%;
      height: 360px;
      border-radius: var(--border-radius-lg);
      object-fit: cover;
      object-position: center; 
    }
  }

  .experience-carousel__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
  }
}

.swiper-slide-button i {
    font-size: var(--icon-size-lg);
    color: var(--primary);
    z-index: 100;
}

// // Botones de navegación
.swiper-slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.experience-prev {
  left: 1px;
}

.experience-next {
  right: 1px;
}
}