@use 'sass:map';
@use './base' as *;
@use '../mixins' as *;
@use '../functions' as *;

$color-base: (
  'primary': #026fc1,
  'primary-dark': #0285d1,
  'secondary': #029be1,
  'tertiary': #359c36,
  'tertiary-dark': #5dc85e,
  'neutral': #ffffff,
  'neutral-variant': #96937f,
  'success': #36b377,
  'warning': #f2bf2e,
  'danger': #ff1200,
  // arquitectura y diseño
  'ad-primary': #653383,
  'ad-secondary': #00559a,
  // artes
  'a-primary': #6f45e9,
  'a-secondary': #ff4b78,
  'a-tertiary': #2c5595,
  //ciencias
  'c-primary': #008aa2,
  'c-secondary': #f6bd30,
  // ciencias economicas y administrativas
  'cea-primary': #4a7ed8,
  'cea-secondary': #371f75,
  'cea-tertiary': #ff4e30,
  // ciencias juridicas
  'cj-primary': #f6bd30,
  'cj-secondary': #2c5595,
  'cj-tertiary': #c6c6c6,
  // ciencias políticas y relaciones internacionales
  'cpri-primary': #f6bd30,
  'cpri-secondary': #008874,
  // ciencias sociales
  'cs-primary': #003d7a,
  'cs-secondary': #73d9fc,
  'cs-tertiary': #3e2580,
  // comunicación y lenguaje
  'cl-primary': #8048a9,
  'cl-secondary': #73d9fc,
  'cl-tertiary': #2c5595,
  // derecho canónico
  'dc-primary': #f6bd30,
  'dc-secondary': #2c5595,
  'dc-tertiary': #f2f2f2,
  // educación
  'e-primary': #a1bfff,
  'e-secondary': #2a2a68,
  'e-tertiary': #f47abd,
  // enfermería
  'en-primary': #ffcd00,
  'en-secondary': #018ab9,
  // estudios ambientales y rurales
  'ear-primary': #abc80e,
  'ear-secondary': #2dcad1,
  'ear-tertiary': #029be2,
  // filosofía
  'f-primary': #004c8f,
  'f-secondary': #c08300,
  'f-tertiary': #f2f2f2,
  // ingeniería
  'i-primary': #026fc1,
  'i-secondary': #029be1,
  'i-tertiary': #339e36,
  // instituto pensar
  'ip-primary': #00b3ab,
  'ip-secondary': #ff6b17,
  // instituto salud pública
  'isp-primary': #a74731,
  'isp-secondary': #c28069,
  // medicina
  'm-primary': #f6bd30,
  'm-secondary': #2b9cd2,
  // odontología
  'o-primary': #00c7dc,
  'o-secondary': #32abbf,
  // psicología
  'p-primary': #f6bd30,
  'p-secondary': #029be1,
  // teología
  't-primary': #c08300,
  't-secondary': #004c8f
);

$colors-map: (
  'primary': generate-color-scale(map.get($color-base, 'primary')),
  'secondary': generate-color-scale(map.get($color-base, 'secondary')),
  'tertiary': generate-color-scale(map.get($color-base, 'tertiary')),
  'neutral': generate-color-scale(map.get($color-base, 'neutral')),
  'neutral-variant': generate-color-scale(map.get($color-base, 'neutral-variant')),
  'success': generate-color-scale(map.get($color-base, 'success')),
  'warning': generate-color-scale(map.get($color-base, 'warning')),
  'danger': generate-color-scale(map.get($color-base, 'danger'))
);

$colors-theme: (
  'dark': (
    'primary': generate-color-scale(map.get($color-base, 'primary-dark'), true),
    'secondary': generate-color-scale(map.get($color-base, 'secondary'), true),
    'tertiary': generate-color-scale(map.get($color-base, 'tertiary-dark'), true),
    'neutral': generate-color-scale(map.get($color-base, 'neutral'), true),
    'neutral-variant': generate-color-scale(map.get($color-base, 'neutral-variant'), true),
    'success': generate-color-scale(map.get($color-base, 'success'), true),
    'warning': generate-color-scale(map.get($color-base, 'warning'), true),
    'danger': generate-color-scale(map.get($color-base, 'danger'), true)
  ),
  'arquitectura-diseno': (
    'primary': generate-color-scale(#653383, true),
    'secondary': generate-color-scale(#00559a, true)
  ),
  'arquitectura-diseno-dark': (
    'primary': generate-color-scale(#653383, true),
    'secondary': generate-color-scale(#00559a, true)
  )
);

// Generar variables de colores
@each $name, $colors in $colors-map {
  @include generate-vars($name, $colors);
}
