@use 'sass:map';
@use './base' as *;
@use './arquitectura-diseno' as *;
@use './artes' as *;
@use './ciencias' as *;

$colors-map: (
  'primary': (
    'default': map.get($color-base, 'primary'),
    '1000': #f0f8ff,
    '900': #e0effe,
    '800': #bae0fd,
    '700': #7dc8fc,
    '600': #38acf8,
    '500': #0e91e9,
    '400': map.get($color-base, 'primary'),
    '300': #035ba1,
    '200': #074e85,
    '100': #0c416e,
    '0': #082949
  ),
  'secondary': (
    'default': map.get($color-base, 'secondary'),
    '1000': #eff9ff,
    '900': #def2ff,
    '800': #b6e7ff,
    '700': #76d5ff,
    '600': #2ec0ff,
    '500': map.get($color-base, 'secondary'),
    '400': #0086d2,
    '300': #006aaa,
    '200': #005b8c,
    '100': #074b73,
    '0': #04304d
  ),
  'tertiary': (
    'default': map.get($color-base, 'tertiary'),
    '1000': #f2fbf2,
    '900': #e1f7e1,
    '800': #c4eec4,
    '700': #96df96,
    '600': map.get($color-base, 'tertiary-dark'),
    '500': map.get($color-base, 'tertiary'),
    '400': #2b8e2d,
    '300': #257026,
    '200': #225923,
    '100': #1d4a1f,
    '0': #0b280d
  ),
  'neutral': (
    'default': map.get($color-base, 'neutral'),
    '1000': map.get($color-base, 'neutral'),
    '900': #c7d1db,
    '800': #b6c2cf,
    '700': #9fadbc,
    '600': #8c9bab,
    '500': #596773,
    '400': #454f59,
    '300': #2c333a,
    '200': #2f3233,
    '100': #242627,
    '0': #151717
  ),
  'neutral-variant': (
    'default': map.get($color-base, 'neutral-variant'),
    '1000': #f4f3f1,
    '900': #e7e5e0,
    '800': #d1cfc5,
    '700': #b4b2a2,
    '600': map.get($color-base, 'neutral-variant'),
    '500': #7d7b65,
    '400': #615f4f,
    '300': #4c4b3f,
    '200': #3f3e35,
    '100': #373630,
    '0': #1c1b17
  ),
  'success': (
    'default': map.get($color-base, 'success'),
    '1000': #f3fff9,
    '900': #deffef,
    '800': #b9f9da,
    '700': #9ae9c3,
    '600': #79d2a7,
    '500': map.get($color-base, 'success'),
    '400': #289a64,
    '300': #1a784b,
    '200': #0e5b36,
    '100': #073a22,
    '0': #032616
  ),
  'danger': (
    'default': map.get($color-base, 'danger'),
    '1000': #fff1f0,
    '900': #ffdfdd,
    '800': #ffc4c0,
    '700': #ff9c94,
    '600': #ff6357,
    '500': #ff3323,
    '400': map.get($color-base, 'danger'),
    '300': #d70f00,
    '200': #b10f03,
    '100': #92140a,
    '0': #500600
  ),
  'warning': (
    'default': map.get($color-base, 'warning'),
    '1000': #fffaed,
    '900': #fff3d2,
    '800': #ffe6a3,
    '700': #ffd76a,
    '600': map.get($color-base, 'warning'),
    '500': #d49d00,
    '400': #b48500,
    '300': #8c6800,
    '200': #644a00,
    '100': #443200,
    '0': #2d2100
  )
);

$colors-theme: (
  // --- Modo Oscuro --- //
  'dark': (
      'primary': (
        'default': map.get($color-base, 'primary-dark'),
        '1000': #f0f9ff,
        '900': #e0f1fe,
        '800': #bae4fd,
        '700': #7dd0fc,
        '600': #38b8f8,
        '500': #0e9fe9,
        '400': map.get($color-base, 'primary-dark'),
        '300': #0365a1,
        '200': #075685,
        '100': #0c476e,
        '0': #082d49
      ),
      'secondary': (
        'default': map.get($color-base, 'secondary'),
        '1000': #eff9ff,
        '900': #def2ff,
        '800': #b6e7ff,
        '700': #76d5ff,
        '600': #2ec0ff,
        '500': map.get($color-base, 'secondary'),
        '400': #0086d2,
        '300': #006aaa,
        '200': #005b8c,
        '100': #074b73,
        '0': #04304d
      ),
      'tertiary': (
        'default': map.get($color-base, 'tertiary-dark'),
        '1000': #f2fbf2,
        '900': #e1f7e1,
        '800': #c4eec4,
        '700': #96df96,
        '600': map.get($color-base, 'tertiary-dark'),
        '500': map.get($color-base, 'tertiary'),
        '400': #2b8e2d,
        '300': #257026,
        '200': #225923,
        '100': #1d4a1f,
        '0': #0b280d
      )
    )
);

$colors-theme: map.merge($colors-theme, $arquitectura-diseno);
$colors-theme: map.merge($colors-theme, $artes);
$colors-theme: map.merge($colors-theme, $ciencias);
