@use '../../styles/_variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../../../../../styles/global.scss' as *;

.accordion-container {
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  overflow-x: hidden;
  padding: 20px;
}

.accordion-header {
  width: 100%;
  max-width: 1200px;
}

.accordion-toggle {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  font-size: $font-size-p;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }
}

.accordion-items {
  max-width: 100%;
  width: 100%;
  padding-top: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.question-button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  font-size: $font-size-p;
  color: #454f59;
  font-weight: 400;
  box-sizing: border-box;
  transition: all 0.3s ease;

  i {
    transition: color 0.3s ease;
    color: $primary-color;
    padding-left: 15px;
    font-size: 1rem;
  }

  &.active {
    font-weight: bold;
  }
}

.accordion-answer {
  margin-top: 20px;
  color: $primary-color;

  h3 {
    margin-bottom: 15px;
    color: #333;
  }

  ul {
    margin-left: 20px;
    margin-bottom: 15px;
  }

  p {
    line-height: 1.6;
  }
  .doubts-questions{
    display: flex;
  }
}
@media (min-width: $breakpoint-xl) {
  .doubts-questions{
    display: none;
  }
  .accordion-items {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    align-items: flex-start;
    padding: 0;
  }
}

.accordion-questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    display: none;
  }

  &.active {
    font-weight: bold;
  }

  &.active {
    font-weight: bold;
    color: $primary-color; 
  }
}

.accordion-answer {
  padding: 20px;
  padding-top: 0;
  margin-top: 0;
  border-left: 2px solid #ddd; 
}
.more-doubts-container{
  display: flex ;
}

