@use '@styles/autoload' as *;
.logo-wrapper {
  right: 10%;
  top: 7%;
  box-sizing: border-box;
  width: 10%;
  height: 12%;
  margin-right: 3.5rem;
  margin-top: -1.5rem;
  float: right;
  object-fit: contain;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .logo-wrapper {
    right: 40%;
    top: 5%;
  }
}

.has-edit-mode-menu .logo-wrapper,
html:not(#__):not(#___) .page-editor__editable--active,
[data-env='development'] .logo-wrapper .page-editor__editable {
  float: left;
  display: block;
  margin: 0 3rem;
  position: sticky;
  z-index: 2;
}

// ================================ //
// VARIANT RECTANGLE LOGO - STYLES  //
// ================================ //

// .logo-wrapper {
//   box-sizing: border-box;
//   width: 30%;
//   height: 20%;
//   margin-right: 3.5rem;
//   margin-top: -4rem;
//   float: right;
//   object-fit: contain;
// }
