<section id="section-six">
  <div class="color-container">
    <div class="container expert-carousel" id="docentes">
      <h2
        class="title title-neutral title-2xl title-center title-bold expert-carousel__title"
        data-lfr-editable-id="title-docentes-title"
        data-lfr-editable-type="text">
        Docentes Expertos
      </h2>
      <lfr-editable
        id="docentes-description"
        type="rich-text"
        class="paragraph paragraph-neutral paragraph-md paragraph-center expert-carousel__description">
        Docentes expertos con experiencia práctica y académica, comprometidos con la excelencia e innovación en Ingeniería Civil.
      </lfr-editable>
      <lfr-widget-web-content id="widget1"></lfr-widget-web-content>
    </div>
  </div>
</section>
