// ==========================================
// VARIABLES SASS
// ==========================================

// ==========================================
// BASE
// ==========================================
$base-font-size: 16px;

// ==========================================
// BREAKPOINTS
// ==========================================
$breakpoint-xs: 428px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;

// ==========================================
// COLORES - ESCALAS
// ==========================================
$lightness-steps: (
  100: 98%,
  200: 95%,
  300: 85%,
  400: 75%,
  500: 65%,
  600: 55%,
  700: 45%,
  800: 35%,
  900: 25%,
  1000: 15%,
  1100: 10%
);
