@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.modal.fade {
  z-index: -1;
}

.modal.fade.show {
  z-index: 1050;

  * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .modal-content {
    max-width: 800px;
    background: linear-gradient(90deg, #1ba3d6 0%, #0074a3 100%);
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    line-height: normal;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    padding: 0;
    margin: 0 auto;
  }

  .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: none;
    border-radius: 50%;
    color: #1ba3d6;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    z-index: 4;
  }

  .background-image {
    background-image: url(https://www.javeriana.edu.co/recursosdb/1372208/5640014/background.png);
    background-size: cover;
    height: 100%;
    position: absolute;
    right: -190px;
    top: 90px;
    width: 74.5%;
    z-index: 1;
  }

  .overlay-image {
    bottom: 0px;
    position: absolute;
    right: -60px;
    width: 61%;
    z-index: 2;
  }

  .modal-body {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    padding-right: 46px;
  }

  .container-info {
    padding: 0px;
    width: 55%;
  }

  .modal-header {
    border: none;
    height: auto;
    padding: 2rem;
  }

  .modal-title {
    font-size: 30px;
    line-height: normal;
    padding-right: 40px;
    white-space: normal;

    & * {
      display: inline;
    }

    strong {
      color: #ffcd00;
      font-weight: 700;
    }
  }

  .yellow {
    color: #ffcd00;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .divider {
    background: #fff;
    height: 2px;
    margin-left: 16px;
    width: 30px;
  }

  .subtitle {
    background: #fff;
    border-radius: 0px 25px 25px 0px;
    color: #1ba3d6;
    margin-bottom: 12px;
    margin-left: -38px;
    padding: 4px 28px;
    width: 185px;
  }

  .subtitle h6 {
    font-size: 14px;
    margin: 0px;
  }

  li {
    margin: 12px -28px;
  }

  ul.custom-list {
    list-style-position: outside;
    list-style-type: disc;
  }

  ul.custom-list li {
    font-size: 14px;
  }

  ul.custom-list li::marker {
    font-size: 8px;
  }

  a {
    color: #fff;
  }

  @media (max-width: 1024px) {
    .background-image {
      right: -120px;
      top: 60px;
      width: 70%;
    }

    .overlay-image {
      right: -40px;
      width: 60%;
    }

    .container-info {
      width: 60%;
    }

    .modal-title {
      font-size: 24px;
    }

    .yellow {
      font-size: 20px;
    }

    .subtitle {
      width: 150px;
    }

    ul.custom-list li {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    .modal-header {
      font-weight: 300;

      .modal-title {
        padding: 0;
      }
    }

    .divider {
      width: 70%;
      margin: 0 auto;
    }

    .modal-body {
      padding: 2rem;
    }

    .modal-content {
      max-width: 100%;
      border-radius: 0;
    }

    .paragraph {
      font-size: 14px;
      text-align: center;
    }

    .subtitle {
      margin: 0;
      padding: 6px 5px;
      text-align: center;
      border-radius: 50px;
      width: 100%;
    }

    .background-image {
      display: none;
    }

    .overlay-image {
      right: -30px;
      width: 50%;
    }

    .container-info {
      padding: 15px;
      width: 100%;
    }

    .modal-title {
      font-size: 20px;
      text-align: center;
    }

    .yellow {
      font-size: 18px;
      text-align: center;
    }

    ul.custom-list {
      padding: 0;
    }

    ul.custom-list li {
      font-size: 12px;
      margin: 8px 0;
      text-align: center;
    }

    ul span {
      display: block;
      text-align: center;
    }
  }
}

.has-edit-mode-menu .modal.fade.show {
  position: initial;
  z-index: 1050;
  display: block;
  opacity: 1;

  .modal-dialog {
    position: initial;
  }
}
