<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" />

<div class="col-12 p-4" id="background-element-title">
  <h2 class="text-bold text-center title-block title-block-plan color-txt">
    <div>
      <lfr-editable id="title-graduates" type="rich-text"> Noticias destacadas </lfr-editable>
    </div>
  </h2>
</div>

<lfr-widget-web-content> </lfr-widget-web-content>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
