@use 'variables'as *;
@use 'mixins'as *;

.program-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: $spacing-md;
  padding: $spacing-md $spacing-xl;

  &__content {
    width: 50%;
  }

  &__title_facultad {
    @include text-style($font-size-small, $font-weight-bold, $letter-spacing-normal, $line-height-base);
    color: $primary-color;
  }

  &__title {
    @include text-style($font-size-h1, $font-weight-bold, $letter-spacing-normal, $line-height-heading);
    color: $color-text;
  }

  .highlight {
    color: $primary-color;
  }

  &__snies {
    @include text-style($font-size-small, $font-weight-regular, $letter-spacing-normal, $line-height-base);
    color: $gray-600;
  }

  &__description {
    font-size: 1rem;
    color: $color-muted-text;
    margin-bottom: 1rem;
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .program-details-row {
    display: flex;
    text-align: left;

    &__item {
      display: flex;
      align-items: flex-start;
      gap: $spacing-md;
    }

    &__icon_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: $primary-color;
    }

    .ph {
      color: $text-light;
      font-size: 22px;
    }
  }

  .program-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: $spacing-lg;
    padding: $spacing-md 0;
    text-align: left;

    &__item {
      display: flex;
      align-items: flex-start;
      gap: $spacing-md;
    }

    &__icon_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: $primary-color;
    }

    .ph {
      color: $text-light;
      font-size: 22px;
    }

    &__label {
      font-size: $font-size-small;
      color: $gray-700;
    }

    &__value {
      font-size: $font-size-p;
      font-weight: $font-weight-bold;
      color: $color-text;
    }

    &__note {
      font-size: $font-size-small;
      color: $gray-500;
      margin-top: 12px;
    }
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    text-align: left;
    padding: $spacing-md;

    &__content,
    &__image {
      width: 100%;
    }
  }
}