@use 'variables' as *;
@use 'mixins' as *;

.program-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "content image"
    "content image"
    "content image";
  column-gap:66px;
  row-gap: $spacing-md;
  padding: $spacing-md $spacing-xl;
  justify-items: start;
  align-items: end;
  padding-top: 80px;
  min-height: 100%;

  &__content {
    grid-area: content;  
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__image {
    grid-area: image;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-self: stretch;

    img {
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 16px;
      flex-grow: 1;
    }
  }

  &__title_facultad {
    @include text-style($font-size-small, $font-weight-bold, $letter-spacing-normal, $line-height-base);
    color: $primary-color;
    padding-top: 35px
  }

  &__title {
    @include text-style($font-size-h1, $font-weight-bold, $letter-spacing-normal, $line-height-heading);
    color: $color-text;
    margin-top: 0;
  }

  .highlight {
    color: $primary-color;
  }

  &__snies {
    @include text-style($font-size-small, $font-weight-regular, $letter-spacing-normal, $line-height-base);
    color: $gray-600;
  }

  &__description {
    font-size: 1rem;
    color: $color-muted-text;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: $spacing-md;
  }

  &__icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $primary-color;
  }
  .inscripcion{
    color: $primary-color;
    padding-left: 55px;
    cursor: pointer;
  }

  .ph {
    color: $text-light;
    font-size: 22px;
  }

  .program-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: $spacing-lg;
    padding: $spacing-md 0;
    text-align: left;
  
    &__item {
      display: flex;
      align-items: flex-start;
      gap: $spacing-md;
    }
  
    &__icon_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $primary-color;
    }
  
    .ph {
      color: $text-light;
      font-size: 22px;
    }
  
    &__label {
      font-size: $font-size-small;
      color: $gray-700;
    }
  
    &__value {
      font-size: $font-size-p;
      font-weight: $font-weight-bold;
      color: $color-text;
    }
  
    &__note {
      font-size: $font-size-small;
      color: $gray-500;
      margin-top: 12px;
  
    }
  
    &__item:last-child {
      grid-column: span 2; 
    }
  }
  .content-button{
    display: none;
  }
 
  @media (max-width: $breakpoint-xl) {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: $spacing-md;

    &__content,
    &__image {
      width: 100%;
    }

    .program-info-facultad {
      order: 2;
      text-align: left;

    }
    .inscripcion-container .inscripcion {
      padding-left: 0px;
      
  }

    .program-info__title {
      font-size: clamp(1.8rem, 5vw, 3rem);
      font-weight: 700;
      letter-spacing: normal;
      line-height: 1.2;
      font-family: "Raleway", sans-serif;
      color: #101215;
      margin-top: 0;
      text-align: left;
  }
  .highlight {
    display: inline; 
    white-space: nowrap; 
  }

    .program-info__image {
      background-color: $text-dark;
      order: 2;
      height: 50vw;
      width: 100vw; 
      max-width: 100vw; 
      margin-left: -$spacing-md; 
      margin-right: -$spacing-md; 
      padding: 0; 
    }

    .program-details {
        order: 4;
        display: flex;
        flex-direction: column;
    }

    .program-details-row {
      order: 5;
    }
  }
}