@use 'variables'as *;
@use 'mixins'as *;

.subjects-carousel {
  text-align: center;
  position: relative;
  padding: 2rem 0;

  &__title {
    margin-bottom: $spacing-md;
  }

  &__wrapper {
    overflow: hidden;
    width: 90%;
    margin: $spacing-lg;
  }

  &__track {
    display: flex;
    gap: $spacing-md;
    transition: transform 0.3s ease-in-out;
  }

  &__item {
    min-width: 300px;
    flex: 0 0 auto;
  }

  .card {
    border: 1px solid $gray-900;
    border-radius: 8px;
    padding: 24px;

    &__label {
      @include text-style($font-size-small, $font-weight-bold, $letter-spacing-normal, $line-height-base);
      background-color: $primary-color;
      border-radius: 8px;
      color: $text-light;
      padding: 4px 8px;
    }

    &__credits {
      @include text-style($font-size-p, $font-weight-regular, $letter-spacing-normal, $line-height-base);
      color: $gray-800;
    }
  }

  li {
    list-style: none;
    margin-bottom: 12px;
    color: $gray-500;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color;
    color: $text-light;
    border: none;
    padding: $spacing-sm $spacing-md;
    cursor: pointer;
    border-radius: $border-radius-md;
    font-size: 1.5rem;

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }
}