@use 'variables'as *;
@use 'mixins'as *;

.featured-projects {
  text-align: center;
  padding: $spacing-lg 0px;
  background-color: $color-background;

  @media (max-width: $breakpoint-md) {
    text-align: left;
  }

  &__title {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sm;
    color: $color-text;
    padding-left: $spacing-md;
  }

  &__description {
    font-size: $font-size-p;
    margin-bottom: $spacing-lg;
    color: $color-muted-text;
    padding-left: $spacing-md;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $text-light;
    padding: $spacing-lg;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      text-align: center;
      padding: $spacing-sm;
    }
  }

  &__text {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin: 0;

    @media (max-width: $breakpoint-md) {
      font-size: $font-size-p;
    }
  }
}