@use 'variables' as *;
@use 'mixins'as *;

.why-javeriana {
  padding: $spacing-lg;
  margin: $spacing-lg;
  text-align: center;

  &__title {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-lg;
    color: $color-text;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: $spacing-lg;
    margin-top: $spacing-lg;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: $spacing-md;
    text-align: left;

    i {
      font-size: 2rem;
      color: $text-dark;
    }

    &__subtitle {
      @include text-style($font-size-p, $font-weight-bold, $letter-spacing-normal, $line-height-base);
      margin-bottom: $spacing-sm;
      color: $gray-200;
    }

    &__text {
      @include text-style($font-size-small, $font-weight-bold, $letter-spacing-normal, $line-height-base);
      color: $gray-400;
    }
  }

  &__image {
    flex: 1;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: $border-radius-md;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}