@use '../../styles/_variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../../../../../styles/global.scss' as *;

.interview-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  max-width: 1200px;

  .inscription-title{
    color: #6d7881;
    font-size: $font-size-p;
    width: fit-content;
  }

  .interview-title {
    font-size: $font-size-h2;
    font-weight: bold;
    width: fit-content;
    padding-top: 10px;
    color: $text-dark;
  }

  .interview-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease-in-out;

    p {
      color: #2c333a;
      font-size: $font-size-p;
      width: fit-content;

    }

  }
  .sub-title {
    font-size: $font-size-p;
    font-weight: bold;
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    video {
      width: 100%;
      max-width: 800px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      outline: none;
    }
  }

  @media (min-width: $breakpoint-xl) {
    .upload-section {
      max-width: $breakpoint-xl;

      .upload-header {
        width: 100%;

        h2 {
          width: 100%;
        }

        a {
          justify-content: end;
          gap: 10px;
          width: 30%;
        }
      }

      .upload-links {
        display: flex;
        flex-direction: row;
        gap: 40px;
        transform: translateY(-5px);
        .upload-item {
          border-bottom: none;
          padding-bottom: 20px;
          padding-top: 20px;
          width: 100%;

          a {
            gap: 5px;
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }
    }
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%; // Se ajusta al ancho del contenido padre

    video {
      width: 100%; // Ocupa el 100% del contenedor padre
      max-width: 1200px; // Limita el tamaño máximo al del contenido
      aspect-ratio: 16/9; // Mantiene la proporción de video
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      outline: none;
    }
  }
}
