@use '@styles/autoload' as *;

#section-four {
  background-color: var(--background-100);
  padding-top: rem(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-variant-900);
  margin: 0 auto;

  p {
    color: var(--neutral-400);
    text-align: left;
  }

  .p-4 {
    border: none;
  }

  .text-gray-900 {
    margin: 0;
  }

  .why-javeriana__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section-four-title {
    display: flex;
    justify-content: center;
    align-items: center;

    .why-javeriana__title {
      gap: rem(8px);
      width: fit-content;
      font-size: var(--font-size-title);
      font-weight: var(--font-weight-bold);
      color: var(--neutral-100);
    }
  }

  .why-javeriana {
    padding-top: var(--spacing-lg);
    margin: 0;
    max-width: var(--max-width);
    text-align: center;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0;
      margin-top: var(--spacing-lg);
      padding-bottom: rem(25px);
      width: 100vw;

      .border {
        padding: rem(5px);
      }
    }

    &__column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0;
      width: 90vw;
      color: var(--neutral-variant-900);
      margin: 0 auto;
    }

    &__image {
      order: 1;
      flex: 1;
      text-align: center;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: rem(10px);

      img {
        max-width: 70%;
        height: rem(300px);
        object-fit: cover;
        border-radius: var(--border-radius-md);
        box-shadow: 0 rem(4px) rem(8px) rgba(0, 0, 0, 0.1);
      }
    }

    &__text {
      font-size: var(--font-size-small);
      color: var(--neutral-400);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      &.expanded {
        max-height: none;
      }
    }

    &__toggle {
      display: flex;
      background: none;
      border: none;
      font-size: var(--font-size-small);
      color: var(--neutral-100);
      cursor: pointer;
      font-weight: var(--font-weight-bold);

      &-text {
        background-color: transparent;
      }
    }

    @include responsive($breakpoint-md) {
      &__text {
        max-height: none;
        overflow: visible;
        display: flex;
        flex-direction: column;
      }

      &__image {
        order: 0;

        img {
          max-width: 100%;
          max-height: rem(550px);
          min-height: rem(450px);
        }
      }
    }

    @include responsive($breakpoint-lg) {
      &__container {
        flex-direction: row;
        gap: rem(30px);
        width: fit-content;
      }

      &__column {
        width: auto;
      }

      &__toggle {
        display: none;
      }
    }
  }
}

// ==========================================
// ACCORDION RESPONSIVE
// ==========================================

.accordion-content {
  display: none;
  transition: all 0.3s ease-in-out;

  &:not(.hidden) {
    display: block;
  }
}

[data-accordion-target] {
  cursor: pointer;
}

@include responsive($breakpoint-xl) {
  .accordion-content {
    display: block !important;
    margin-bottom: rem(24px);
  }

  [data-accordion-target] {
    display: none !important;
  }
}
