@use '../../../styles/_variables.scss' as *;
@use '../../../styles/mixins' as *;
@use '../../../../../../../styles/global.scss' as *;

.help-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px;
  padding-top: 0;

  .help-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .title-help {
      font-size: var(--font-size-title);
      font-weight: bold;
      width: 100%;
    }

    a {
      font-size: $font-size-p;
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;
      width: 30%;
    }
  }

  .help-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease-in-out;

    .help-item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $primary-color;
      padding-bottom: 20px;
      gap: 10px;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $primary-color;
        font-size: $font-size-p;
        font-weight: bold;
        text-decoration: none;
        gap: 5px;
      }

      p {
        font-size: $font-size-p;
        color: $gray-500;
        margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .help-section {
    max-width: $breakpoint-xl;

    .help-header {
      width: 100%;

      h2 {
        width: 100%;
      }

      a {
        justify-content: end;
        gap: 10px;
        width: 30%;
      }
    }

    .help-links {
      display: flex;
      flex-direction: row;
      gap: 40px;
      transform: translateY(-5px);
      .help-item {
        border-bottom: none;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;

        a {
          gap: 5px;
          width: 100%;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}
