/* Error: ("default": #026fc1, "1000": #f0f8ff, "900": #e0effe, "800": #bae0fd, "700": #7dc8fc, "600": #38acf8, "500": #0e91e9, "400": #026fc1, "300": #035ba1, "200": #074e85, "100": #0c416e, "0": #082949) isn't a valid CSS value.
 *     ,
 * 355 |             --#{$color-name}: #{$color-value};
 *     |                                 ^^^^^^^^^^^^
 *     '
 *   style.scss 355:33  generate-theme()
 *   style.scss 374:5   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (\"default\": #026fc1, \"1000\": #f0f8ff, \"900\": #e0effe, \"800\": #bae0fd, \"700\": #7dc8fc, \"600\": #38acf8, \"500\": #0e91e9, \"400\": #026fc1, \"300\": #035ba1, \"200\": #074e85, \"100\": #0c416e, \"0\": #082949) isn't a valid CSS value.\a     \2577 \a 355 \2502              --#{$color-name}: #{$color-value};\d\a     \2502                                  ^^^^^^^^^^^^\a     \2575 \a   style.scss 355:33  generate-theme()\a   style.scss 374:5   root stylesheet";
}
