@use '@styles/main.scss' as *;

.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--neutral);

    padding: 40px 40px;
    padding-top: 80px;
    padding-bottom: 70px;

    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.548);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(0px);
      z-index: -1;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      width: 100%;
      max-width: $max-width;

      @include responsive {
        align-items: start;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      @include responsive {
        align-items: start;
        max-width: 580px;
      }

      .ph.ph-file-image {
        font-size: 42px;
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: var(--neutral);
      }

      .title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        font-size: 36px;
        font-weight: bold;

        text-align: center;

        @include responsive {
          text-align: start;
        }
      }

      .caption {
        font-size: 22px;
        text-align: center;

        @include responsive {
          text-align: start;
        }

        &.important {
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .paragraph {
        font-size: 16px;
        text-align: center;

        @include responsive {
          text-align: start;
        }
      }
    }
  }

  &_container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    width: 100%;
    background-color: var(--light);
    border-radius: 16px 16px 0 0;
    z-index: 2;
  }
}

@media (max-width: 800px) {
  .blog {
    &_background {
      padding: 100px 40px;
      padding-bottom: 150px;

      h1 {
        font-size: 40px;
      }
    }

    &_container {
      border-radius: 16px 16px 0 0;
    }
  }
}

.card_blog {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 280px;
  background-color: #edeeef;
  border: 1px solid transparent;
  border-radius: 20px;
  overflow: hidden;
  transition: ease 0.3s;

  &:hover {
    border: 1px solid #0066c8;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: ease 0.3s;
  }

  figure {
    position: relative;

    width: 100%;
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 20px 0;

    margin: 0;

    a {
      position: absolute;
      bottom: 0;
      right: 0;

      font-size: 16px;
      color: #edeeef;
      background-color: #0066c8;
      border: 1px solid #0066c8;

      border-radius: 20px 0 20px 0;
      padding: 10px 30px;

      transition: ease 0.3s;

      &:hover {
        background-color: #edeeef;
        color: #0066c8;
        border: 1px solid #0066c8;
        transition: ease 0.3s;
      }
    }
  }

  div {
    padding: 20px;
    padding-top: 0;

    h2 {
      font-size: 18px;
      font-weight: bold;
      color: #666666;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      color: #666666;
    }
  }
}

/* ----------------------------------------- */

.blog-slider {
  position: relative;
  width: 95%;
  max-width: 800px;
  height: 400px;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.068);
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  margin: 60px auto;
  transition: all 0.3s;
}
.blog-slider * {
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  z-index: 21;
  position: absolute;
  right: 50%;
  left: 50% !important;
  top: auto;
  bottom: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100% !important;
  transform: translateX(-10%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    bottom: auto !important;
    top: 205px;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
.blog-slider__pagination .swiper-pagination-bullet {
  display: block;
  width: 11px;
  height: 11px;
  background: #062744;
  border-radius: 10px;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  height: 30px;
  background: #388afd;
  box-shadow: 0px 0px 20px rgba(56, 147, 252, 0.3);
  opacity: 1;
  width: 30px;
  height: 11px;
}

.blog-content {
  max-width: $max-width;
}
