@use '../abstracts/functions' as *;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$font-family: 'Raleway', serif;

:root {
  /* ### Tama침os de iconos ### */
  --font-family: 'Raleway', serif;

  --icon-size-2xs: #{rem(12px)};
  --icon-size-xs: #{rem(14px)};
  --icon-size-sm: #{rem(18px)};
  --icon-size-md: #{rem(24px)};
  --icon-size-lg: #{rem(36px)};
  --icon-size-xl: #{rem(40px)};
  --icon-size-2xl: #{rem(52px)};
  --icon-size-3xl: #{rem(68px)};
  --icon-logo-big: #{rem(160px)};

  /* ### Tama침os de fuente ### */

  /* 游늷 T칤tulos */
  --font-size-principal-title: #{rem(36px)};
  --font-size-title: #{rem(28px)};
  --font-size-subtitle: #{rem(22px)};
  --font-size-caption: #{rem(18px)};

  /* 游늷 Texto de p치rrafo est치ndar */
  --font-size-paragraph: #{rem(14px)};

  /* 游늷 Tama침os peque침os (notas, info secundaria) */
  --font-size-small: #{rem(11px)};
  --font-size-xs: #{rem(9px)};

  /* ### Grosor ### */

  /* 游늷 Peso de la fuente */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
