@use '@styles/autoload' as *;

.exchange-section {
  display: flex;
  flex-direction: column;
  gap: rem(15px);
  margin-top: rem(10px);
  flex-wrap: wrap;

  .exchange-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: var(--font-size-title);
      font-weight: bold;
      width: 100%;
      color: var(--neutral-100);
    }
  }

  .note {
    color: var(--neutral-300);
    font-size: var(--font-size-paragraph);
    width: fit-content;

    a {
      color: var(--primary);
      font-size: var(--font-size-paragraph);
      font-weight: 700;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .documentation-section {
    .documentation-header {
      width: 100%;

      h2 {
        width: 100%;
      }

      a {
        justify-content: end;
        gap: rem(10px);
        width: 30%;
      }
    }

    .documentation-item {
      border-bottom: none;
      width: 100%;

      a {
        gap: rem(5px);
        width: 100%;
      }

      p {
        width: 100%;
      }
    }
  }
}

// sección de moreDoubts
.only-desktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}
