@use '../../styles/_variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../../../../../styles/global.scss' as *;

.steps-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-top: 0;
  overflow-x: hidden;

  .inscription-title {
    color: #6d7881;
    font-size: $font-size-p;
    width: fit-content;
  }
  .steps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: $font-size-h2;
      color: $text-dark;
      font-weight: 700;
      width: 100%;
      padding-top: 10px;
    }
  }

  .steps-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease-in-out;

    .steps-p {
      color: #2c333a;
      font-size: $font-size-p;
    }

    .steps-item {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      gap: 10px;

      ol {
        list-style: none;
      }

      ol {
        list-style: decimal;
        padding-left: 20px;
        font-size: $font-size-p;
        color: #2c333a;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;

        li::marker {
          color: $primary-color;
          font-weight: bold;
          font-size: 1rem;
        }
        li {
          padding-left: 5px;
        }
      }
    }
  }
  .sub-title {
    font-size: $font-size-p;
    font-weight: bold;
    color: $text-dark;
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    video {
      width: 100%;
      max-width: 800px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      outline: none;
    }
  }

  @media (min-width: $breakpoint-xl) {
    .steps-section {
      max-width: $breakpoint-xl;

      .steps-header {
        width: 100%;

        h2 {
          width: 100%;
        }

        a {
          justify-content: end;
          gap: 10px;
          width: 30%;
        }
      }

      .steps-links {
        display: flex;
        flex-direction: row;
        gap: 40px;
        transform: translateY(-5px);
        .steps-item {
          border-bottom: none;
          padding-bottom: 20px;
          padding-top: 20px;
          width: 100%;

          a {
            gap: 5px;
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }
    }
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%; // Se ajusta al ancho del contenido padre

    video {
      width: 100%; // Ocupa el 100% del contenedor padre
      max-width: 1200px; // Limita el tamaño máximo al del contenido
      aspect-ratio: 16/9; // Mantiene la proporción de video
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      outline: none;
    }
  }
}
