@use '@styles/autoload' as *;

.documentation-section {
  display: flex;
  flex-direction: column;
  gap: rem(15px);
  margin-top: rem(10px);
  flex-wrap: wrap;

  .documentation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: var(--font-size-title);
      font-weight: bold;
      width: 100%;
      color: var(--neutral-100);
    }
  }

  .note {
    color: var(--neutral-300);
    font-size: var(--font-size-paragraph);
    width: fit-content;
    font-weight: 700;

    a {
      color: var(--primary);
      font-size: var(--font-size-paragraph);
      font-weight: 700;
    }

    h3 {
      padding: rem(5px);
    }
  }

  .options-item {
    display: flex;
    flex-direction: column;
    padding-bottom: rem(20px);
    gap: rem(10px);

    ol {
      list-style: none;
    }

    ul {
      list-style: disc;
      padding-left: rem(20px);
      font-size: var(--font-size-paragraph);
      color: var(--neutral-300);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: rem(10px);

      li::marker {
        color: var(--primary);
        font-weight: bold;
        font-size: 1rem;
      }

      li {
        padding-left: rem(5px);
      }
    }
  }

  .sub-title {
    font-size: var(--font-size-paragraph);
    font-weight: bold;
  }
}

@media (min-width: $breakpoint-xl) {
  .documentation-section {
    .documentation-header {
      width: 100%;

      h2 {
        width: 100%;
      }

      a {
        justify-content: end;
        gap: rem(10px);
        width: 30%;
      }
    }

    .documentation-item {
      border-bottom: none;
      width: 100%;

      a {
        gap: rem(5px);
        width: 100%;
      }

      p {
        width: 100%;
      }
    }
  }
}

// sección de moreDoubts
.only-desktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}
