@use '@styles/autoload' as *;

.related-programs__wrapper{
  height: 386px;
}

.card-wrapper{
  display: flex;
  
}

.card-item{
  display: flex;
  height: auto !important;
  border-radius: var(--border-radius-lg);
}

.card-link{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-lg);
}

.related-programs__item{
  margin-top: auto;
}

.related-programs__content{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--spacing-lg);
  width: 100%;
  z-index: 2;
}

.related-programs__program-card{
  height: 100%;
}

.related-programs__name{
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-bold);
  color:var(--neutral);
  line-height: 30px;
}

.related-programs__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:var(--border-radius-lg);
}

.related-programs__faculty{
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  color: var(--neutral);
  line-height: var(--line-height-base);
  margin-top: 20px;
}

.related-programs__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(2, 111, 193, 0) 19.88%, var(--primary) 84.25%);
  border-radius:16px;
}

.related-programs__link{
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  color: var(--neutral);
}

.related-programs__prev{
  left: 0;
}

.related-programs__next{
  right: 0;
}

.related-programs__carousel-container {
  display: flex;
  align-items: center;
  gap: 20px; // Espacio entre botones y carousel

  .swiper-slide-button{
  z-index: 3;
  top:0;
  width: auto;
  font-size: var(--icon-size-lg);
  color: var(--neutral-300);
}
}

.related-programs__carousel {
  flex: 1; // El carousel ocupa el espacio restante
}