.btnReturn {
  position: fixed;
  bottom: 10px;
  left: 340px;
  background-color: var(--primary-300);
  border: 1px solid var(--primary-500);
  color: var(--primary-900);
  z-index: 1000;

  i {
    margin: 0;
    padding: 0;
  }
}
