@use './main.scss' as *;

/************ Default Css ************/

::selection {
  background-color: var(--primary-600);
  color: var(--dark-color);
}

* {
  font-family: $font-family;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: rem(75px);
  min-height: auto;

  body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;

    background: var(--background-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* * Scroll personalizado */
  body::-webkit-scrollbar {
    width: rem(7px);
    background-color: var(--neutral-700);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-default);
    border-radius: rem(5px);
    height: 40%;
  }
}

@include responsive {
  html body {
    background-attachment: scroll;
  }
}
