@use '../../../styles/_variables.scss' as *;
@use '../../../styles/mixins' as *;
@use '../../../../../../../styles/global.scss' as *;

.accordion-container {
  width: 100vw;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  overflow-x: hidden;
  padding: 20px;
}

.accordion-header {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  padding-bottom: 0;
}

.accordion-toggle {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: $font-size-p;
  font-weight: bold;
  padding-bottom: 20px;

  &:hover {
    opacity: 0.8;
  }
}

.accordion-items {
  max-width: 1200px;
  width: 100%;
  padding-top: 0;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: none;
}

.question-button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  font-size: $font-size-p;
  color: #454f59;
  font-weight: 400;
  box-sizing: border-box;
  transition: all 0.3s ease;

  i {
    transition: color 0.3s ease;
    color: $primary-color;
    padding-left: 15px;
    font-size: 1rem;
  }

  &.active {
    font-weight: bold;
  }
}

.accordion-answer {
  margin-top: 20px;
  color: $primary-color;

  h3 {
    margin-bottom: 15px;
    color: #333;
  }

  ul {
    margin-left: 20px;
    margin-bottom: 15px;
  }

  p {
    line-height: 1.6;
  }
}

.breadcrumb {
  display: none;
}

@media (min-width: $breakpoint-xl) {
  .accordion-header {
    padding: 0px;
  }

  .doubts-questions {
    display: none;
  }
  .accordion-items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: flex-start;
    padding: 0;
  }
}

.accordion-questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  padding-left: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: $font-size-p;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;


  @media (min-width: 1200px) {
    i {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    i {
      display: block !important;
      color: $primary-color;
      font-size: 1rem;
    }
  }

  &.active {
    font-weight: bold;
    color: $primary-color;
  }
}


.accordion-answer {
  padding: 20px;
  padding-top: 0;
  margin-top: 0;
  border-left: 2px solid #ddd;
}

.more-doubts-container {
  display: flex;
}

.mobile-questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}

.mobile-content {
  width: 100%;

}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  padding-left: 30;
  gap: 10px;
  padding-top: 30px;
  margin-top: 50px;
}

.breadcrumb a {
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .current-page {
  font-weight: 600;
  color: #666;
}

.iconCenter {
  font-size: 1rem;
  color: $primary-color;
  font-weight: inherit !important;
  padding: 5px;
}

.only-mobile {
  display: none;

  @media (max-width: 1199px) {
    display: block;
  }
}