/* Liferay Styles */
@use './liferayMain.scss' as *;
@use './mixins' as *;
@use './functions' as *;
@use './theme' as *;
@use './typography' as *;

/************ Default Css ************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

::selection {
  background-color: var(--primary-600);
  color: var(--dark-color);
}

* {
  margin: revert-layer;
  padding: revert-layer;
  box-sizing: border-box;
  font-family: 'Raleway', serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: rem(75px);
  min-height: auto;

  body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100%;

    background: var(--background-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* * Scroll personalizado */
  body::-webkit-scrollbar {
    width: rem(7px);
    background-color: var(--neutral-700);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--primary-default);
    border-radius: rem(5px);
    height: 40%;
  }
}

@include responsive {
  html body {
    background-attachment: scroll;
  }
}
