@use 'mixins' as *;
@use 'variables' as *;
@use 'sass:color';

.button {
  &--primary {
    @include button-style($primary-color, $text-light);

    &:hover {
      background-color: $primary-color-hover;
    }
  }

  &--secondary {
    @include button-style($secondary-color, $primary-color);

    &:hover {
      background-color: $primary-color;
      color: $text-light;
    }
  }

  &--outline {
    @include button-style(transparent, $primary-color, $primary-color);

    &:hover {
      color: $secondary-color;
    }
  }

  &--disabled {
    @include button-style($disabled-color, $color-muted-text);
    cursor: not-allowed;
  }

  &--small {
    padding: $spacing-sm $spacing-sm;
    font-size: $font-size-small;
  }

  &--large {
    padding: $spacing-md $spacing-lg;
    font-size: $font-size-h3;
  }

  @media (max-width: $breakpoint-lg) {
    &--secondary {
      background-color: $primary-color;
      color: $text-light;
    }

    &--primary {
      background-color: $secondary-color;
      color: $text-dark;
    }
  }
}
