@use 'variables' as *;
@use 'sass:color';

.header-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $gray-1100;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 70px;
}

.header {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
  gap: 15px;

  &__logo {
    display: flex;
    align-items: center;

    &-image {
      width: auto;
      height: 50px;
      margin-right: $spacing-sm;
    }
  }

  @media (min-width: $breakpoint-lg) {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
  }

  @media (max-width: $breakpoint-lg) {
    padding: $spacing-sm;
  }

  &__nav {
    display: flex;
    width: 100%;

    &-list {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 5px;
      font-size: $font-size-header;

      @media (max-width: $breakpoint-lg) {
        display: none; //barra superior
      }
    }

    &-link {
      text-decoration: none;
      font-size: $font-size-header;
      font-weight: $font-weight-regular;
      color: $color-text;
      transition: color 0.3s;
      width: 100%;

      &:hover {
        color: $primary-color-hover;
      }
    }
  }

  &__cta {
    display: flex;
    gap: $spacing-sm;
    align-items: center;
    margin-left: auto;
    font-size: $font-size-header;
    min-width: fit-content;
  }

  @media (max-width: $breakpoint-md) {
    .header-color {
      display: flex; /* Ocultar en móvil, usaremos un contenedor fijo */
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
    }
    &__mobile-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $gray-1200;
      border-top: 1px solid $color-border;
      padding: $spacing-sm;
      flex-direction: column;
      z-index: 999;

      &.active {
        display: flex;
      }

      &-list,
      &-cta {
        display: flex;
        position: fixed;
        list-style: none;
        padding: 0;
        margin: $spacing-sm 0;
        justify-content: flex-end;
      }
    }
  }

  /* MENU MÓVIL */
  &__menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: $font-size-h3;
    color: $color-text;
    cursor: pointer;

    @media (max-width: $breakpoint-lg) {
      display: block;
    }
  }

  &__mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $gray-1200;
    border-top: 1px solid $color-border;
    padding: $spacing-sm;
    flex-direction: column;
    z-index: 999;

    &.active {
      display: flex;
    }

    &-list,
    &-cta {
      display: flex;
      position: fixed;
      list-style: none;
      padding: 0;
      margin: $spacing-sm 0;
      justify-content: flex-end;
      &-link {
        display: block;
        text-decoration: none;
        font-size: $font-size-header;
        color: $color-text;
        padding: $spacing-sm 0;
        border-bottom: 1px solid $color-border;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          color: $primary-color-hover;
        }
      }
    }
  }
}

/* BOTONES FIJOS EN MOBILE */
@media (max-width: $breakpoint-lg) {
  #cta-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: $gray-1100;
    padding: $spacing-sm;
    display: flex;
    justify-content: space-around;
    gap: $spacing-sm;
    z-index: 1000;
    flex-direction: column;
    align-items: center;

    button {
      width: 90%;
      max-width: 300px;
      text-align: center;
      padding: $spacing-sm;
    }
  }
}
