@use 'variables'as *;
@use 'mixins'as *;

.subjects-carousel {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: $max-width;

  &__title {
    margin-bottom: $spacing-sm;
  }

  &__wrapper {
    overflow: hidden;
    width: 90%;
    margin: $spacing-md;
  }

  &__track {
    display: flex;
    gap: $spacing-md;
    transition: transform 0.3s ease-in-out;
  }

  &__item {
    min-width: 300px;
    flex: 0 0 auto;
  }
  p{
    max-width: 70%;
  }

  .button i {
     
    margin-left: 5px;  
    color: $primary-color;
  }
  

  .card {
    border: 1px solid $gray-900;
    border-radius: $border-radius-md;
    padding: $spacing-md;
    text-align: left;  


    &__title {
      margin-top: $spacing-md;
      font-weight: $font-weight-bold;
    }
    
    &__divider {
      border-bottom: 1px solid $gray-900;
    }

    &__label {
      @include text-style($font-size-small, $font-weight-bold, $letter-spacing-normal, $line-height-base);
      background-color: $primary-color;
      border-radius: $border-radius-lg;
      color: $text-light;
      padding: $spacing-sm $spacing-lg;
    }

    &__credits {
      @include text-style($font-size-p, $font-weight-regular, $letter-spacing-normal, $line-height-base);
      color: $gray-500;
      margin-top: $spacing-sm;
      margin-bottom: 0px;
    }
  }

  ul {
    padding: 0px $spacing-sm;
  }

  li {
    color: $gray-500;
    list-style: none;
    margin-bottom: $spacing-sm;
  }

  &__btn {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background-color: $primary-color;
    color: $text-light;
    border: none;
    padding: $spacing-sm $spacing-md;
    cursor: pointer;
    border-radius: $border-radius-md;
    font-size: $font-size-p;
    

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }
  @media (max-width: $breakpoint-sm) {
    p{
      text-align: left;
      max-width: 100%;
    }
    .button {
      width: 100%;
      margin-left: 5px;  
      color: $primary-color;
    }
  }
}