@use 'variables' as *;
@use 'mixins' as *;

.color-container{
  background-color: $primary-color;
  width: 100%;
}

.expert-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  max-width: $max-width;
  background-color: $primary-color;
  padding: 60px 0;

  &__title {
    font-size: $font-size-h2;
    font-weight: 700;
    color: $text-light;
    padding-bottom: 15px;
  }

  &__description {
    color: $text-light;
    width: 80%;
    text-align: center;
  }

  &__wrapper {
    overflow: hidden;
    width: 90%;
    margin: auto;
  }

  &__track {
    display: flex;
    gap: $spacing-md;
    transition: transform 0.3s ease-in-out;
  }

  &__item {
    flex: 0 0 auto;
    min-width: 200px;
  }

  /* Botones de navegación */
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color;
    color: $text-light;
    border: 1px solid $text-light;
    cursor: pointer;
    border-radius: 50%;
    padding: $spacing-sm;
    font-size: $font-size-p;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }

  &__btn--prev {
    left: 10px;
  }

  &__btn--next {
    right: 10px;
  }

  /* Tarjetas de docentes */
  .teacher-card-container {
    width: 100%;
    max-width: 250px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 15px;
    min-height: 100%;
  }
  .teacher-card-content{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .teacher-card-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .teacher-card__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  .teacher-card__name {
    color: $text-light;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    margin-top: 10px;
    text-align: left;
  }

  .teacher-card__title {
    color: $gray-700;
    font-size: 0.75rem;
    text-align: left;
    color: $text-light;
  }

  .teacher-card__link {
    color: $text-light;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Swiper estilos */
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 10px;
  overflow: hidden;
}

.swiper-backface-hidden .swiper-slide {
  margin-top: 20px;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .expert-carousel__description {
    width: 90%;
  }

  .teacher-card-container {
    max-width: 180px;
  }
}

@media (max-width: 480px) {
  .expert-carousel__title {
    font-size: $font-size-h3;
  }

  .teacher-card-container {
    max-width: 160px;
  }
}

/* Ajustar visibilidad de los botones en pantallas pequeñas */
@media (max-width: $breakpoint-sm) {
  .swiper-slide-button {
    display: none;
  }
}
