@use 'variables' as *;
@use 'mixins' as *;

.projects-carousel__title {
  width: fit-content;
  font-size: $font-size-h2;
  font-weight: 700;
}

.projects-carousel {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: $max-width;
  padding-top: 60px;
  padding-bottom: 50px;

  &__title {
    font-size: $font-size-h2;
    color: $text-dark;
    width: 100%;
    padding-bottom: 15px;
  }

  &__description {
    color: $text-light;
    width: 80%;
    text-align: center;
  }

    &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $text-light;
    padding: $spacing-lg;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      text-align: left;
      padding: $spacing-sm;
    }
  }
}

/* Media query para pantallas pequeñas */
@media (max-width: $breakpoint-sm) {
  p {
    text-align: left;
    max-width: 100%;
  }
}

/* Media Query Responsive */
@media (max-width: 400px) {
  .testimonial-card {
    width: 90%;
  }
}

/* Contenedor de tarjetas */
.card-wrapper {
  overflow: hidden;
}


.swiper-backface-hidden .swiper-slide {
  margin-top: 20px;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tarjetas generales */
.card-list-9 .card-item-9 .card-link-9 {
  display: block;
  user-select: none;
  text-decoration: none;
  transition: 0.2s ease;
  max-width: fit-content;
}

.card-image-container {
  position: relative; 
  width: 100%;
  height: auto;
  overflow: hidden; 
}

.card-overlay {
  position: absolute; 
  bottom: 0; 
  left: 0;
  color: $text-light;
  width: 100%;
  background: rgba(0, 0, 0, 0.277); 
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  padding: 10px;
  z-index: 2;
}

.image-project {
  width: 400px;
  height: 400px;
  object-fit: cover; 
  display: block;
}


.card-list-9 .card-link-9 .badge {
  width: fit-content;
  padding: 8px 15px;
  font-size: 0.7rem;
  border-radius: 50px;
  font-weight: bold;
  background: $primary-color;
  text-align: left;
  display: flex;
  align-items: end;
  justify-content: end;
}

/* Flechas de navegación */
.card-wrapper .swiper-slide-button {
  color: $primary-color;
  margin-top: -35px;
}


