@use 'variables' as *;
@use 'mixins' as *;

.experience-carousel {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: $max-width;
    padding-top: 60px;
    padding-bottom: 50px;

    &__title{
      font-size: $font-size-h2;
      color: $text-dark;
      width: 100%;
      padding-bottom: 15px;
    }
    &__description{
      color: $text-dark;
      width: 80%;
      text-align: center;
    }
    &__btn {
        position: absolute;
        top: 65%;
        transform: translateY(-50%);
        background-color: $primary-color;
        color: $text-light;
        border: none;
        cursor: pointer;
        border-radius: $border-radius-md;
        padding: $spacing-sm $spacing-md;
        font-size: $font-size-p;
    }

    &__wrapper {
        overflow: hidden;
        width: 90%;
        margin: $spacing-md;
    }

    &__track {
        display: flex;
        gap: $spacing-md;
        transition: transform 0.3s ease-in-out;
    }

    &__item {
        min-width: 200px;
        flex: 0 0 auto;
    }

    &__btn--prev {
        left: 10px;
        border-radius: 50%;
        border: 1px solid $text-light;
    }

    &__btn--next {
        right: 10px;
        border-radius: 50%;
        border: 1px solid $text-light;
    }
}

.teacher-card-container{
  width: 100%;
  height: fit-content;
  width: 200px;
  text-align: left;

  .teacher-card-header{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .teacher-card__image{
      width: 200px;
      height: 250px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .teacher-card__name{
    color: $text-light;
    font-size: $font-size-p;
    font-weight: $font-weight-bold;
  }
  .teacher-card__title{
    color: $text-light;
    font-size: 0.65rem;
  }
  .teacher-card__link{
    color: $text-light;
  }
}

@media (max-width: 768px) {
    button {
        font-size: 14px;
    }
}

@media (max-width: $breakpoint-sm) {
    p {
        text-align: left;
        max-width: 100%;
    }

}
