@use 'variables' as *;
@use 'mixins' as *;

.academic-carousel {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: $max-width;

    &__btn {
        position: absolute;
        top: 65%;
        transform: translateY(-50%);
        background-color: $primary-color;
        color: $text-light;
        border: none;
        padding: $spacing-sm $spacing-md;
        cursor: pointer;
        border-radius: $border-radius-md;
        font-size: $font-size-p;
    }


    &__wrapper {
        overflow: hidden;
        width: 90%;
        margin: $spacing-md;
    }

    &__track {
        display: flex;
        gap: $spacing-md;
        transition: transform 0.3s ease-in-out;
    }

    &__item {
        min-width: 300px;
        flex: 0 0 auto;
    }

    &__btn--prev {
        left: 10px;
      border-radius: 50%;

    }

    &__btn--next {
        right: 10px;
        border-radius: 50%;
    }
}

.card-container {
    width: fit-content;
    max-width: 20rem;
    min-width: 300px;
    height: auto;
    flex-grow: 1;
    background-color: $text-light;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-content {
    padding: 1.25rem;
    padding-top: 5px;
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: $font-size-h1;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: #111827;

}

.card-header {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
}

.academic-carousel__title{
  font-size: $font-size-h2;
}

@media (max-width: $breakpoint-sm) {
    button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media (max-width: $breakpoint-sm) {
    p {
        text-align: left;
        max-width: 100%;
    }

}
