@use 'variables'as *;
@use 'mixins'as *;

.related-programs {
  text-align: center;
  padding: $spacing-lg;
  background-color: $color-background;
  margin: 0 auto; 
  max-width: $max-width;

  @media (max-width: $breakpoint-md) {
    padding: 0px $spacing-sm;
    text-align: left;
  }

  &__title {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sm;
    color: $color-text;
  }

  &__description {
    font-size: $font-size-p;
    margin-bottom: $spacing-lg;
    color: $color-muted-text;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;

    @media (max-width: $breakpoint-md) {
      padding: 0 $spacing-sm;
    }
  }

  &__item {
    position: relative;
    width: 270px;
    height: 380px;
    border-radius: $border-radius-md;
    overflow: hidden;
    text-align: left;
    scroll-snap-align: center;

    @media (max-width: $breakpoint-md) {
      flex: 0 0 80%;
    }

    &>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(2, 111, 193, 0) 19.88%, #026FC1 84.25%);
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $spacing-md;
    color: $text-light;
    z-index: 2;
  }

  &__name {
    font-size: $font-size-p;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sm;
  }

  &__faculty {
    font-size: $font-size-small;
    color: $text-light;
    margin-bottom: $spacing-sm;
  }

  &__link {
    font-size: $font-size-small;
    color: $text-light;
    text-decoration: none;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: $primary-color;
    cursor: pointer;

    &--prev {
      left: $spacing-sm;
    }

    &--next {
      right: $spacing-sm;
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}

.related-programs-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: $max-width;
  padding-bottom: 20px;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $text-light;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; }

.related-programs-carousel__title{
    font-size:$font-size-h2 ;
    font-weight: bold;
    padding-bottom: 10px;
    width: fit-content;
}
p{
  font-size: $font-size-p;
  padding-bottom: 20px;
}
.button-plan{
    color: $primary-color;
    padding: 15px;
    font-weight: 600;
    border: 1px solid $primary-color;

i{
  padding-left: 10px;
  size: 1rem;
}
}
.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}
.swiper-backface-hidden .swiper-slide {
  margin-top: 20px;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list .card-item .card-link {
  display: block;
  background: $text-light;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid $gray-900;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
  max-width: fit-content;
}
.card-list .card-item .card-link:active {
  cursor: grabbing;
}
/* borde que sale con el cursos */
.card-list .card-item .card-link:hover {
  border: 2px solid;
  border-color: $primary-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.351);
}
.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.card-list .card-link .badge {
  color: $text-light;
  width: fit-content;
  padding: 8px 15px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background:$primary-color;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: end;
  justify-content: end;
}

/* botones slider redondos */
.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: $primary-color;
}
.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
/* derecha izquierda */
.card-wrapper .swiper-slide-button {
  color: $primary-color;
  margin-top: -35px;
  
}
.card-header{
  text-align: left;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: left;
}
.title-related-programs{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight:700;
    letter-spacing: -0.02em;
    color: #111827;
    border-bottom: 0.8px solid $gray-900;
    padding-bottom: 10px;
    text-align: left;
    max-width: fit-content;
}
.related-programs-list{
    list-style: none;
    padding-top: 5px;
    margin: 0;
    padding-bottom: 10px;
}
.related-programs-list li{
color: $gray-500; 
margin-bottom: 0.5rem;
display: flex;
align-items: center;

i{
    font-size: 1.25rem; 
    margin-right: 0.5rem;
    color:$primary-color;
    }
}

.content-credits{
    font-size: 1.125rem;
    border-top: 0.8px solid $gray-900;
    font-weight: bold;
    color: $gray-900;
    padding-top: 10px;

    strong {
      color: $gray-700;
    }
}

/* Responsive media query code for small screens */
@media (max-width: $breakpoint-sm) {
  .card-wrapper {
    margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

  
}

