@use 'variables'as *;
@use 'mixins'as *;

.why-javeriana {
  padding: $spacing-lg;
  margin: $spacing-lg;
  text-align: center;
  margin: 0 auto;

  &__title {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-lg;
    color: $color-text;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: $spacing-lg;
    margin-top: $spacing-lg;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__subtitle {
    font-size: $font-size-p;
    font-weight: $font-weight-bold;
    color: $gray-200;
    margin-bottom: $spacing-sm;

    @media (max-width: $breakpoint-md) {
     font-weight: $font-weight-regular;
    }
  }

  &__text {
    font-size: $font-size-small;
    color: $gray-400;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    @media (min-width: $breakpoint-md) {
      max-height: none;
      overflow: visible;
    }

    &.expanded {
      max-height: none;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: $spacing-md;
    text-align: left;
    position: relative;
    overflow: hidden;

    i {
      font-size: 2rem;
      color: $text-dark;
    }
  }

  &__image {
    flex: 1;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: $border-radius-md;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &__toggle {
    display: none;

    @media (max-width: $breakpoint-md) {
      display: block;
      background: none;
      border: none;
      font-size: $font-size-small;
      color: $text-dark;
      cursor: pointer;
      margin-top: $spacing-sm;
    }
  }
}