@use 'variables' as *;
@use 'mixins' as *;


.program-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "content image"
    "content image"
    "content image";
  column-gap:66px;
  row-gap: $spacing-md;
  padding: $spacing-md $spacing-xl;
  justify-items: start;
  align-items: stretch;
  padding-top: 50px;
  min-height: 100%;
  max-width: $max-width;

  &__content {
    grid-area: content;  
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__image {
    grid-area: image;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-self: center;
    border-radius: 16px;
    overflow: hidden;

   iframe {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  &__title_facultad {
    @include text-style($font-size-small, $font-weight-bold, $letter-spacing-normal, $line-height-base);
    color: $primary-color;
    padding-top: 15px;
    
  }

  &__title {
    @include text-style($font-size-h2, $font-weight-bold, $letter-spacing-normal, $line-height-heading);
    color: $color-text;
    margin-top: 0;
  }

  .highlight {
    color: $primary-color;
  }

  &__snies {
    @include text-style($font-size-small, $font-weight-regular, $letter-spacing-normal, $line-height-base);
    color: $gray-600;
  }

  &__description {
    font-size: 1rem;
    color: $color-muted-text;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: $spacing-md;
  }

  &__icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $primary-color;
  }
  .inscripcion{
    color: $primary-color;
    padding-left: 55px;
    cursor: pointer;
  } 

  .ph {
    color: $text-light;
    font-size: 22px;
  }

  .program-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: $spacing-md;
    padding: $spacing-md 0;
    text-align: left;
  
    &__item {
      display: flex;
      align-items: flex-start;
      gap: $spacing-md;
    }
  
    &__icon_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $primary-color;
    }
  
    .ph {
      color: $text-light;
      font-size: 22px;
    }
  
    &__label {
      font-size: $font-size-small;
      color: $gray-700;
    }
  
    &__value {
      font-size: $font-size-p;
      font-weight: $font-weight-bold;
      color: $color-text;
    }
  
    &__note {
      font-size: $font-size-small;
      color: $gray-500;
      margin-top: 12px;
  
    }
  
    &__item:last-child {
      grid-column: span 2; 
    }
  }
  
  .content-button{
    display: none;
  }
 
  @media (max-width: $breakpoint-xl) {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: $spacing-md;
    align-items: center;
    justify-content: center;

    &__content,
    &__image {
      width: 100%;
    }
    
    .program-info-facultad {
      order: 2;
      text-align: left;



    }
    .inscripcion-container .inscripcion {
      padding-left: 0px;
      
  }

    .program-info__title {
      max-width: 100%;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: normal;
      line-height: 1.2;
      font-family: "Raleway", sans-serif;
      color: #101215;
      margin-top: 0;
      text-align: left;

  }
  .highlight {
    display: inline; 
    white-space: nowrap; 
  }

 .program-info__image {
  background-color: #212529;
  order: 2;
  width: 100%;
  max-width: 90vw; 
  height: 40vw;
  margin: 0 auto;  
  display: flex;
  justify-content: center;
  align-items: center;
    }

    .program-details {
      order: 4;
      width: 80%;
      max-width: 740px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: $spacing-sm;
      padding: $spacing-md 0;
      text-align: left;
    
      &__item {
        display: flex;
        align-items: flex-start;
        gap: $spacing-md;
      }
    
      &__icon_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $primary-color;
      }
    
      .ph {
        color: $text-light;
        font-size: 22px;
      }
    
      &__label {
        font-size: $font-size-small;
        color: $gray-700;
      }
    
      &__value {
        font-size: $font-size-p;
        font-weight: $font-weight-bold;
        color: $color-text;
      }
    
      &__note {
        font-size: $font-size-small;
        color: $gray-500;
        margin-top: 12px;
    
      }
    
      &__item:last-child {
        grid-column: span 2; 
      }
    }

    .program-details-row {
      order: 5;
    }
  }

  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: $spacing-md;
    align-items: center;
    justify-content: center;

    &__content,
    &__image {
      width: 100%;
    }
    
    .program-info-facultad {
      order: 2;
      text-align: left;

    }
    .inscripcion-container .inscripcion {
      padding-left: 0px;
      
  }

    .program-info__title {
      font-size: clamp(1.8rem, 3vw, 2rem);

  }
  .highlight {
    display: inline; 
    white-space: nowrap; 
  }

  .program-info__image {
    background-color: #212529;
    order: 2;
    width: 100vw;  
    max-width: 100vw; 
    height: 70vw;
    margin: 0;  
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;

    iframe{
      border-radius:0 ;
    }

    video{
      border-radius: 0;
    }
  }


    .program-details {
        order: 4;
        display: flex;
        flex-direction: column;
    }

    .program-details-row {
      order: 5;
    }
  }

  }
