@use 'variables' as *;
@use 'mixins' as *;

.p-4{
  border: none;
}
p{
  text-align: left;
}
.text-gray-900{
  margin: 0;
}

.why-javeriana__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .why-javeriana__title {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.why-javeriana {
  padding-top: $spacing-lg;
  margin: 0px;
  max-width: $max-width;
  text-align: center;

  &__image {
    order: 0;
    flex: 1;
    text-align: center;}

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: $spacing-lg;
    padding-bottom: 25px;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0;
  }



    @media (max-width: $breakpoint-md) {
      font-weight: $font-weight-regular;
    
      .why-javeriana__column {
        min-width: 90vw;
      }
  }

  &__text {
    font-size: $font-size-small;
    color: $gray-400;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    &.expanded {
      max-height: none;
    }

    @media (min-width: $breakpoint-md) {
      max-height: none;
      overflow: visible;
      display: flex;
      flex-direction: column;
      
      
    }
  }

  // Botón de "Leer Más / Leer Menos"
    &__toggle {


    @media (max-width: $breakpoint-md) {
      display: flex;
      background: none;
      border: none;
      font-size: $font-size-small;
      color: $text-dark;
      cursor: pointer;
      font-weight: bold; 
      border: none; 
         }
    
    &-text{
      background-color: none;
    }
  }

  &__image {
    flex: 1;
    text-align: center;
  
    @media (max-width: $breakpoint-md) {
      order: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      
  
    }
  
    @media (min-width: $breakpoint-md) {
      order: 0;
    }
  
    img {
      max-width: 100%;
      height: auto;
      border-radius: $border-radius-md;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  
  }
  
}

