@use '../../../styles/_variables.scss' as *;
@use '../../../styles/mixins' as *;
@use '../../../../../../../styles/global.scss' as *;

.data-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
  max-width: 1200px;

  .inscription-title{
    color: #6d7881;
    font-size: $font-size-p;
    width: fit-content;
  }

  .data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: $font-size-h2;
      font-weight: bold;
      width: 100%;
      color: $text-dark;
    }
  }

  .data-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease-in-out;

    .data-p {
      color: #2c333a;
      font-size: $font-size-p;
      font-weight: 700;
    }

    .data-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      ul {
        padding-left: 20px;
        font-size: $font-size-p;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        list-style-type: disc;

        li {
          color: #2c333a;

          &::marker {
            color: $primary-color;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-xl) {
    .data-section {
      max-width: $breakpoint-xl;

      .data-header {
        width: 100%;

        h2 {
          width: 100%;
        }

        a {
          justify-content: end;
          gap: 10px;
          width: 30%;
        }
      }

      .data-links {
        display: flex;
        flex-direction: row;
        gap: 40px;
        transform: translateY(-5px);
        .data-item {
          border-bottom: none;
          padding-bottom: 20px;
          padding-top: 20px;
          width: 100%;

          a {
            gap: 5px;
            width: 100%;
          }

          p {
            width: 100%;
          }
        }
      }
    }
  }
}
//sección de moreDoubts
.only-desktop {
  display: none; // Oculto en móvil

  @media (min-width: 1200px) {
    display: block; 
  }
}